In [1]:
import pandas as pd
from copy import deepcopy
import sys
sys.path.append('/home/ndsviriden/MinMax94/src/utils') 
from Preprocessing import Preprocessor
from constants import mapper_converter_to_mm94_column, mapper_converter_to_rp5_column
from converters import convert_rp5_to_mm94, parse_datetime_rp5
from constants import MmxColumns, RP5Columns

mypath = '/mnt/HARD/MinMax94/data/data_all/CSV/RP5/'

In [2]:
wmo_id = 22867
df = pd.read_csv(mypath + str(wmo_id) + '.csv', sep=';', skiprows=6, index_col=False)
df['station_id'] = wmo_id
df = convert_rp5_to_mm94(df)
df
del df['data_p_weather'], df['data_precip_interval'],

In [3]:
df

,data_visibility,data_wind_dir,data_dampness,data_cloudiness,data_wind_speedmax,data_t_air,data_precip_code,data_precip_count,data_wind_velocity,data_dew_point,station_id,data_pressure,date_time
0,20000.0,0.0,90.0,90.0,NaN,-0.5,0,NaN,1.0,-2.0,22867,NaN,2012-01-01 00:00:00
1,20000.0,0.0,93.0,90.0,NaN,-0.9,0,NaN,0.0,-1.9,22867,759.3,2012-01-01 03:00:00
2,10000.0,0.0,97.0,100.0,NaN,-2.9,0,NaN,0.0,-3.3,22867,760.1,2012-01-01 06:00:00
3,4000.0,0.0,98.0,100.0,NaN,-2.6,0,NaN,0.0,-2.9,22867,761.0,2012-01-01 09:00:00
4,500.0,0.0,98.0,100.0,NaN,-2.8,0,NaN,0.0,-3.1,22867,761.6,2012-01-01 12:00:00
5,500.0,0.0,97.0,100.0,NaN,-3.1,0,NaN,0.0,-3.5,22867,762.2,2012-01-01 15:00:00
6,500.0,0.0,98.0,100.0,NaN,-2.3,0,NaN,0.0,-2.6,22867,762.6,2012-01-01 18:00:00
7,4000.0,225.0,97.0,100.0,NaN,-2.8,20,NaN,1.0,-3.2,22867,763.1,2012-01-01 21:00:00
8,10000.0,0.0,95.0,100.0,NaN,-3.0,20,NaN,0.0,-3.7,22867,763.1,2012-01-02 00:00:00
9,10000.0,0.0,95.0,100.0,NaN,-3.2,20,NaN,0.0,-3.9,22867,763.4,2012-01-02 03:00:00
10,10000.0,270.0,93.0,100.0,NaN,-3.1,20,0.166667,1.0,-4.1,22867,763.6,2012-01-02 06:00:00
11,10000.0,247.5,93.0,100.0,NaN,-3.5,20,0.166667,1.0,-4.5,22867,764.0,2012-01-02 09:00:00
12,10000.0,270.0,92.0,100.0,NaN,-3.4,20,NaN,1.0,-4.5,22867,764.8,2012-01-02 12:00:00
13,10000.0,270.0,92.0,100.0,NaN,-3.5,20,NaN,1.0,-4.6,22867,765.1,2012-01-02 15:00:00
14,10000.0,270.0,91.0,100.0,NaN,-4.0,20,NaN,1.0,-5.2,22867,765.4,2012-01-02 18:00:00
15,10000.0,0.0,93.0,100.0,NaN,-4.7,20,0.016667,0.0,-5.7,22867,765.3,2012-01-02 21:00:00
16,10000.0,0.0,92.0,75.0,NaN,-9.1,20,NaN,0.0,-10.2,22867,765.2,2012-01-03 00:00:00
17,20000.0,0.0,90.0,100.0,NaN,-10.4,20,NaN,0.0,-11.7,22867,765.1,2012-01-03 03:00:00
18,20000.0,0.0,92.0,100.0,NaN,-8.4,10,0.041667,0.0,-9.4,22867,764.5,2012-01-03 06:00:00
19,10000.0,0.0,93.0,100.0,NaN,-7.5,10,0.041667,0.0,-8.4,22867,763.4,2012-01-03 09:00:00
20,4000.0,0.0,94.0,100.0,NaN,-6.1,10,NaN,0.0,-6.9,22867,762.7,2012-01-03 12:00:00
21,4000.0,292.5,95.0,100.0,NaN,-5.8,10,NaN,1.0,-6.5,22867,761.7,2012-01-03 15:00:00
22,10000.0,225.0,92.0,100.0,NaN,-5.5,0,NaN,1.0,-6.6,22867,761.0,2012-01-03 18:00:00
23,10000.0,292.5,95.0,100.0,NaN,-5.3,0,0.004167,1.0,-6.0,22867,759.4,2012-01-03 21:00:00
24,10000.0,315.0,95.0,100.0,NaN,-5.1,0,NaN,1.0,-5.8,22867,758.4,2012-01-04 00:00:00
25,10000.0,315.0,96.0,100.0,NaN,-4.8,20,NaN,2.0,-5.4,22867,756.5,2012-01-04 03:00:00
26,10000.0,292.5,93.0,100.0,NaN,-4.9,20,0.004167,1.0,-5.9,22867,755.5,2012-01-04 06:00:00
27,10000.0,0.0,93.0,100.0,NaN,-5.1,20,0.004167,0.0,-6.1,22867,754.2,2012-01-04 09:00:00
28,10000.0,0.0,93.0,90.0,NaN,-5.2,10,NaN,1.0,-6.2,22867,753.2,2012-01-04 12:00:00
29,20000.0,337.5,91.0,100.0,NaN,-4.5,10,NaN,1.0,-5.8,22867,752.2,2012-01-04 15:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14896,20000.0,0.0,86.0,25.0,NaN,-8.5,0,0.004167,0.0,-10.5,22867,768.7,2016-12-29 06:00:00
14897,20000.0,22.5,83.0,100.0,NaN,-6.7,0,NaN,1.0,-9.1,22867,767.3,2016-12-29 09:00:00
14898,50000.0,45.0,82.0,100.0,NaN,-3.7,0,NaN,4.0,-6.3,22867,765.0,2016-12-29 12:00:00
14899,4000.0,45.0,88.0,100.0,NaN,-3.8,20,NaN,4.0,-5.5,22867,761.9,2016-12-29 15:00:00
14900,10000.0,67.5,88.0,100.0,10.0,-3.7,20,0.083333,5.0,-5.4,22867,760.2,2016-12-29 18:00:00
14901,20000.0,67.5,84.0,100.0,NaN,-3.0,20,NaN,3.0,-5.3,22867,759.2,2016-12-29 21:00:00
14902,20000.0,67.5,88.0,100.0,NaN,-2.4,10,NaN,4.0,-4.1,22867,759.1,2016-12-30 00:00:00
14903,20000.0,67.5,86.0,100.0,NaN,-1.8,10,NaN,3.0,-3.9,22867,759.4,2016-12-30 03:00:00
14904,20000.0,45.0,88.0,100.0,NaN,-2.0,10,0.016667,2.0,-3.8,22867,759.3,2016-12-30 06:00:00
14905,20000.0,90.0,84.0,90.0,NaN,-1.6,10,NaN,2.0,-4.0,22867,759.7,2016-12-30 09:00:00
14906,20000.0,90.0,81.0,90.0,NaN,-1.4,0,NaN,2.0,-4.2,22867,760.0,2016-12-30 12:00:00
14907,20000.0,90.0,82.0,100.0,NaN,-1.2,10,NaN,2.0,-4.0,22867,759.7,2016-12-30 15:00:00
14908,20000.0,67.5,81.0,100.0,NaN,-1.1,0,0.004167,2.0,-4.0,22867,759.1,2016-12-30 18:00:00
14909,20000.0,45.0,83.0,100.0,NaN,-1.4,0,NaN,3.0,-4.0,22867,755.8,2016-12-30 21:00:00
14910,10000.0,22.5,91.0,100.0,NaN,-0.9,20,NaN,3.0,-2.2,22867,751.9,2016-12-31 00:00:00
14911,4000.0,45.0,93.0,100.0,NaN,0.0,20,NaN,4.0,-1.0,22867,747.7,2016-12-31 03:00:00
14912,10000.0,67.5,93.0,100.0,10.0,0.7,30,0.333333,4.0,-0.3,22867,745.2,2016-12-31 06:00:00
14913,20000.0,90.0,86.0,100.0,NaN,1.5,30,NaN,3.0,-0.6,22867,745.4,2016-12-31 09:00:00
14914,10000.0,67.5,89.0,90.0,NaN,1.2,10,NaN,4.0,-0.5,22867,745.1,2016-12-31 12:00:00
14915,20000.0,67.5,86.0,100.0,NaN,1.7,10,NaN,4.0,-0.4,22867,743.4,2016-12-31 15:00:00
14916,20000.0,90.0,85.0,90.0,NaN,1.6,10,0.041667,3.0,-0.7,22867,742.7,2016-12-31 18:00:00
14917,20000.0,67.5,82.0,90.0,NaN,2.0,10,NaN,4.0,-0.8,22867,741.7,2016-12-31 21:00:00
14918,20000.0,67.5,86.0,100.0,NaN,1.7,10,NaN,4.0,-0.5,22867,740.9,2017-01-01 00:00:00
14919,10000.0,67.5,87.0,100.0,NaN,1.3,10,NaN,3.0,-0.6,22867,740.3,2017-01-01 03:00:00
14920,20000.0,67.5,85.0,90.0,NaN,1.4,10,0.083333,4.0,-0.9,22867,740.2,2017-01-01 06:00:00
14921,20000.0,90.0,87.0,90.0,NaN,0.8,10,NaN,3.0,-1.1,22867,740.7,2017-01-01 09:00:00
14922,50000.0,90.0,85.0,90.0,NaN,0.9,10,NaN,2.0,-1.3,22867,741.8,2017-01-01 12:00:00
14923,10000.0,90.0,89.0,100.0,NaN,0.3,10,NaN,2.0,-1.3,22867,742.5,2017-01-01 15:00:00
14924,20000.0,157.5,83.0,75.0,NaN,-1.6,10,0.033333,1.0,-4.2,22867,743.8,2017-01-01 18:00:00
14925,20000.0,90.0,84.0,75.0,NaN,-2.5,10,NaN,1.0,-4.8,22867,744.5,2017-01-01 21:00:00

In [4]:
preprocessor = Preprocessor()
raw_lmeteo = preprocessor.AddUTC(df, '/mnt/HARD/MinMax94/data/data_all/CSV/stations_rp5_def.csv')
lmeteo_interpolated = preprocessor.InterpolatePatterns(raw_lmeteo)

In [5]:
lmeteo_interpolated

,date_time_utc,data_visibility,data_wind_dir,data_dampness,data_cloudiness,data_wind_speedmax,data_t_air,data_precip_code,data_precip_count,data_wind_velocity,data_dew_point,station_id,data_pressure,date_time_local
0,2011-12-31 21:30:00,20000.000000,0.00,90.500000,90.000000,NaN,-0.566667,0.0,NaN,0.833333,-1.983333,22867,NaN,2012-01-01 00:30:00
1,2011-12-31 22:00:00,20000.000000,0.00,91.000000,90.000000,NaN,-0.633333,0.0,NaN,0.666667,-1.966667,22867,NaN,2012-01-01 01:00:00
2,2011-12-31 22:30:00,20000.000000,0.00,91.500000,90.000000,NaN,-0.700000,0.0,NaN,0.500000,-1.950000,22867,NaN,2012-01-01 01:30:00
3,2011-12-31 23:00:00,20000.000000,0.00,92.000000,90.000000,NaN,-0.766667,0.0,NaN,0.333333,-1.933333,22867,NaN,2012-01-01 02:00:00
4,2011-12-31 23:30:00,20000.000000,0.00,92.500000,90.000000,NaN,-0.833333,0.0,NaN,0.166667,-1.916667,22867,NaN,2012-01-01 02:30:00
5,2012-01-01 00:30:00,18333.333333,0.00,93.666667,91.666667,NaN,-1.233333,0.0,NaN,0.000000,-2.133333,22867,759.433333,2012-01-01 03:30:00
6,2012-01-01 01:00:00,16666.666667,0.00,94.333333,93.333333,NaN,-1.566667,0.0,NaN,0.000000,-2.366667,22867,759.566667,2012-01-01 04:00:00
7,2012-01-01 01:30:00,15000.000000,0.00,95.000000,95.000000,NaN,-1.900000,0.0,NaN,0.000000,-2.600000,22867,759.700000,2012-01-01 04:30:00
8,2012-01-01 02:00:00,13333.333333,0.00,95.666667,96.666667,NaN,-2.233333,0.0,NaN,0.000000,-2.833333,22867,759.833333,2012-01-01 05:00:00
9,2012-01-01 02:30:00,11666.666667,0.00,96.333333,98.333333,NaN,-2.566667,0.0,NaN,0.000000,-3.066667,22867,759.966667,2012-01-01 05:30:00
10,2012-01-01 03:30:00,9000.000000,0.00,97.166667,100.000000,NaN,-2.850000,0.0,NaN,0.000000,-3.233333,22867,760.250000,2012-01-01 06:30:00
11,2012-01-01 04:00:00,8000.000000,0.00,97.333333,100.000000,NaN,-2.800000,0.0,NaN,0.000000,-3.166667,22867,760.400000,2012-01-01 07:00:00
12,2012-01-01 04:30:00,7000.000000,0.00,97.500000,100.000000,NaN,-2.750000,0.0,NaN,0.000000,-3.100000,22867,760.550000,2012-01-01 07:30:00
13,2012-01-01 05:00:00,6000.000000,0.00,97.666667,100.000000,NaN,-2.700000,0.0,NaN,0.000000,-3.033333,22867,760.700000,2012-01-01 08:00:00
14,2012-01-01 05:30:00,5000.000000,0.00,97.833333,100.000000,NaN,-2.650000,0.0,NaN,0.000000,-2.966667,22867,760.850000,2012-01-01 08:30:00
15,2012-01-01 06:30:00,3416.666667,0.00,98.000000,100.000000,NaN,-2.633333,0.0,NaN,0.000000,-2.933333,22867,761.100000,2012-01-01 09:30:00
16,2012-01-01 07:00:00,2833.333333,0.00,98.000000,100.000000,NaN,-2.666667,0.0,NaN,0.000000,-2.966667,22867,761.200000,2012-01-01 10:00:00
17,2012-01-01 07:30:00,2250.000000,0.00,98.000000,100.000000,NaN,-2.700000,0.0,NaN,0.000000,-3.000000,22867,761.300000,2012-01-01 10:30:00
18,2012-01-01 08:00:00,1666.666667,0.00,98.000000,100.000000,NaN,-2.733333,0.0,NaN,0.000000,-3.033333,22867,761.400000,2012-01-01 11:00:00
19,2012-01-01 08:30:00,1083.333333,0.00,98.000000,100.000000,NaN,-2.766667,0.0,NaN,0.000000,-3.066667,22867,761.500000,2012-01-01 11:30:00
20,2012-01-01 09:30:00,500.000000,0.00,97.833333,100.000000,NaN,-2.850000,0.0,NaN,0.000000,-3.166667,22867,761.700000,2012-01-01 12:30:00
21,2012-01-01 10:00:00,500.000000,0.00,97.666667,100.000000,NaN,-2.900000,0.0,NaN,0.000000,-3.233333,22867,761.800000,2012-01-01 13:00:00
22,2012-01-01 10:30:00,500.000000,0.00,97.500000,100.000000,NaN,-2.950000,0.0,NaN,0.000000,-3.300000,22867,761.900000,2012-01-01 13:30:00
23,2012-01-01 11:00:00,500.000000,0.00,97.333333,100.000000,NaN,-3.000000,0.0,NaN,0.000000,-3.366667,22867,762.000000,2012-01-01 14:00:00
24,2012-01-01 11:30:00,500.000000,0.00,97.166667,100.000000,NaN,-3.050000,0.0,NaN,0.000000,-3.433333,22867,762.100000,2012-01-01 14:30:00
25,2012-01-01 12:30:00,500.000000,0.00,97.166667,100.000000,NaN,-2.966667,0.0,NaN,0.000000,-3.350000,22867,762.266667,2012-01-01 15:30:00
26,2012-01-01 13:00:00,500.000000,0.00,97.333333,100.000000,NaN,-2.833333,0.0,NaN,0.000000,-3.200000,22867,762.333333,2012-01-01 16:00:00
27,2012-01-01 13:30:00,500.000000,0.00,97.500000,100.000000,NaN,-2.700000,0.0,NaN,0.000000,-3.050000,22867,762.400000,2012-01-01 16:30:00
28,2012-01-01 14:00:00,500.000000,0.00,97.666667,100.000000,NaN,-2.566667,0.0,NaN,0.000000,-2.900000,22867,762.466667,2012-01-01 17:00:00
29,2012-01-01 14:30:00,500.000000,0.00,97.833333,100.000000,NaN,-2.433333,0.0,NaN,0.000000,-2.750000,22867,762.533333,2012-01-01 17:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72980,2017-01-01 00:30:00,11666.666667,67.50,86.666667,98.333333,NaN,1.316667,10.0,NaN,3.166667,-0.650000,22867,740.283333,2017-01-01 03:30:00
72981,2017-01-01 01:00:00,13333.333333,67.50,86.333333,96.666667,NaN,1.333333,10.0,NaN,3.333333,-0.700000,22867,740.266667,2017-01-01 04:00:00
72982,2017-01-01 01:30:00,15000.000000,67.50,86.000000,95.000000,NaN,1.350000,10.0,NaN,3.500000,-0.750000,22867,740.250000,2017-01-01 04:30:00
72983,2017-01-01 02:00:00,16666.666667,67.50,85.666667,93.333333,NaN,1.366667,10.0,NaN,3.666667,-0.800000,22867,740.233333,2017-01-01 05:00:00
72984,2017-01-01 02:30:00,18333.333333,67.50,85.333333,91.666667,NaN,1.383333,10.0,NaN,3.833333,-0.850000,22867,740.216667,2017-01-01 05:30:00
72985,2017-01-01 03:30:00,20000.000000,71.25,85.333333,90.000000,NaN,1.300000,10.0,0.081250,3.833333,-0.933333,22867,740.283333,2017-01-01 06:30:00
72986,2017-01-01 04:00:00,20000.000000,75.00,85.666667,90.000000,NaN,1.200000,10.0,0.079167,3.666667,-0.966667,22867,740.366667,2017-01-01 07:00:00
72987,2017-01-01 04:30:00,20000.000000,78.75,86.000000,90.000000,NaN,1.100000,10.0,0.077083,3.500000,-1.000000,22867,740.450000,2017-01-01 07:30:00
72988,2017-01-01 05:00:00,20000.000000,82.50,86.333333,90.000000,NaN,1.000000,10.0,0.075000,3.333333,-1.033333,22867,740.533333,2017-01-01 08:00:00
72989,2017-01-01 05:30:00,20000.000000,86.25,86.666667,90.000000,NaN,0.900000,10.0,0.072917,3.166667,-1.066667,22867,740.616667,2017-01-01 08:30:00
72990,2017-01-01 06:30:00,25000.000000,90.00,86.666667,90.000000,NaN,0.816667,10.0,NaN,2.833333,-1.133333,22867,740.883333,2017-01-01 09:30:00
72991,2017-01-01 07:00:00,30000.000000,90.00,86.333333,90.000000,NaN,0.833333,10.0,NaN,2.666667,-1.166667,22867,741.066667,2017-01-01 10:00:00
72992,2017-01-01 07:30:00,35000.000000,90.00,86.000000,90.000000,NaN,0.850000,10.0,NaN,2.500000,-1.200000,22867,741.250000,2017-01-01 10:30:00
72993,2017-01-01 08:00:00,40000.000000,90.00,85.666667,90.000000,NaN,0.866667,10.0,NaN,2.333333,-1.233333,22867,741.433333,2017-01-01 11:00:00
72994,2017-01-01 08:30:00,45000.000000,90.00,85.333333,90.000000,NaN,0.883333,10.0,NaN,2.166667,-1.266667,22867,741.616667,2017-01-01 11:30:00
72995,2017-01-01 09:30:00,43333.333333,90.00,85.666667,91.666667,NaN,0.800000,10.0,NaN,2.000000,-1.300000,22867,741.916667,2017-01-01 12:30:00
72996,2017-01-01 10:00:00,36666.666667,90.00,86.333333,93.333333,NaN,0.700000,10.0,NaN,2.000000,-1.300000,22867,742.033333,2017-01-01 13:00:00
72997,2017-01-01 10:30:00,30000.000000,90.00,87.000000,95.000000,NaN,0.600000,10.0,NaN,2.000000,-1.300000,22867,742.150000,2017-01-01 13:30:00
72998,2017-01-01 11:00:00,23333.333333,90.00,87.666667,96.666667,NaN,0.500000,10.0,NaN,2.000000,-1.300000,22867,742.266667,2017-01-01 14:00:00
72999,2017-01-01 11:30:00,16666.666667,90.00,88.333333,98.333333,NaN,0.400000,10.0,NaN,2.000000,-1.300000,22867,742.383333,2017-01-01 14:30:00
73000,2017-01-01 12:30:00,11666.666667,101.25,88.000000,95.833333,NaN,-0.016667,10.0,NaN,1.833333,-1.783333,22867,742.716667,2017-01-01 15:30:00
73001,2017-01-01 13:00:00,13333.333333,112.50,87.000000,91.666667,NaN,-0.333333,10.0,NaN,1.666667,-2.266667,22867,742.933333,2017-01-01 16:00:00
73002,2017-01-01 13:30:00,15000.000000,123.75,86.000000,87.500000,NaN,-0.650000,10.0,NaN,1.500000,-2.750000,22867,743.150000,2017-01-01 16:30:00
73003,2017-01-01 14:00:00,16666.666667,135.00,85.000000,83.333333,NaN,-0.966667,10.0,NaN,1.333333,-3.233333,22867,743.366667,2017-01-01 17:00:00
73004,2017-01-01 14:30:00,18333.333333,146.25,84.000000,79.166667,NaN,-1.283333,10.0,NaN,1.166667,-3.716667,22867,743.583333,2017-01-01 17:30:00
73005,2017-01-01 15:30:00,20000.000000,146.25,83.166667,75.000000,NaN,-1.750000,10.0,0.033333,1.000000,-4.300000,22867,743.916667,2017-01-01 18:30:00
73006,2017-01-01 16:00:00,20000.000000,135.00,83.333333,75.000000,NaN,-1.900000,10.0,0.033333,1.000000,-4.400000,22867,744.033333,2017-01-01 19:00:00
73007,2017-01-01 16:30:00,20000.000000,123.75,83.500000,75.000000,NaN,-2.050000,10.0,0.033333,1.000000,-4.500000,22867,744.150000,2017-01-01 19:30:00
73008,2017-01-01 17:00:00,20000.000000,112.50,83.666667,75.000000,NaN,-2.200000,10.0,0.033333,1.000000,-4.600000,22867,744.266667,2017-01-01 20:00:00
73009,2017-01-01 17:30:00,20000.000000,101.25,83.833333,75.000000,NaN,-2.350000,10.0,0.033333,1.000000,-4.700000,22867,744.383333,2017-01-01 20:30:00