In [6]:
import json
import numpy as np
import pandas as pd
from copy import copy
import sys
sys.path.append('/home/ndsviriden/MinMax94/src/utils') 
#from Preprocessing import Preprocessor
from constants import RUSSIAN_TIME_ZONES, rp5_columns
from interpolation import interpolate_mmx
from converters import convert_rp5_to_mmx, convert_raw_to_mmx, convert_mmx_to_mmcc_forecast, convert_raw_to_mmx
from loaders import load_rp5_stations, load_mm94_stations
from geographical import find_nearest_wmo_station
from Preprocessing import vincenty_dist

mypath = '/mnt/HARD/MinMax94/data/CSV'

## Convert RP5 to Mmx

* Choose one mm94 station and finding the closeat wmo station

In [7]:
## find nearest wmo station
mm94_station_id = 1821

wmo_station_id = find_nearest_wmo_station(mm94_station_id)
print(wmo_station_id)

38987

* Load data from the nearest wmo station

In [8]:
rp5 = load_rp5_stations(wmo_station_id)

* Convert from RP5 to Mmx format

In [9]:
mmx_forecast = convert_rp5_to_mmx(rp5)
mmx_forecast_interpolated = interpolate_mmx(mmx_forecast)
mmx_forecast_interpolated[['date_time_utc']]

            date_time_utc
0     2011-12-31 21:00:00
1     2011-12-31 21:30:00
2     2011-12-31 22:00:00
3     2011-12-31 22:30:00
4     2011-12-31 23:00:00
5     2011-12-31 23:30:00
6     2012-01-01 00:00:00
7     2012-01-01 00:30:00
8     2012-01-01 01:00:00
9     2012-01-01 01:30:00
10    2012-01-01 02:00:00
11    2012-01-01 02:30:00
12    2012-01-01 03:00:00
13    2012-01-01 03:30:00
14    2012-01-01 04:00:00
15    2012-01-01 04:30:00
16    2012-01-01 05:00:00
17    2012-01-01 05:30:00
18    2012-01-01 06:00:00
19    2012-01-01 06:30:00
20    2012-01-01 07:00:00
21    2012-01-01 07:30:00
22    2012-01-01 08:00:00
23    2012-01-01 08:30:00
24    2012-01-01 09:00:00
25    2012-01-01 09:30:00
26    2012-01-01 10:00:00
27    2012-01-01 10:30:00
28    2012-01-01 11:00:00
29    2012-01-01 11:30:00
...                   ...
88034 2017-01-01 03:30:00
88035 2017-01-01 04:00:00
88036 2017-01-01 04:30:00
88037 2017-01-01 05:00:00
88038 2017-01-01 05:30:00
88039 2017-01-01 06:00:00
88040 2017-01-01 06:30:00
88041 2017-01-01 07:00:00
88042 2017-01-01 07:30:00
88043 2017-01-01 08:00:00
88044 2017-01-01 08:30:00
88045 2017-01-01 09:00:00
88046 2017-01-01 09:30:00
88047 2017-01-01 10:00:00
88048 2017-01-01 10:30:00
88049 2017-01-01 11:00:00
88050 2017-01-01 11:30:00
88051 2017-01-01 12:00:00
88052 2017-01-01 12:30:00
88053 2017-01-01 13:00:00
88054 2017-01-01 13:30:00
88055 2017-01-01 14:00:00
88056 2017-01-01 14:30:00
88057 2017-01-01 15:00:00
88058 2017-01-01 15:30:00
88059 2017-01-01 16:00:00
88060 2017-01-01 16:30:00
88061 2017-01-01 17:00:00
88062 2017-01-01 17:30:00
88063 2017-01-01 18:00:00

[88064 rows x 1 columns]

* Convert from Mmx to MmccForecast format

In [31]:
mmcc_forecast = convert_mmx_to_mmcc_forecast(mmx_forecast_interpolated)
z = mmx_forecast_interpolated['date_time_utc']
z

0       2011-12-31 21:00:00
1       2011-12-31 21:30:00
2       2011-12-31 22:00:00
3       2011-12-31 22:30:00
4       2011-12-31 23:00:00
5       2011-12-31 23:30:00
6       2012-01-01 00:00:00
7       2012-01-01 00:30:00
8       2012-01-01 01:00:00
9       2012-01-01 01:30:00
10      2012-01-01 02:00:00
11      2012-01-01 02:30:00
12      2012-01-01 03:00:00
13      2012-01-01 03:30:00
14      2012-01-01 04:00:00
15      2012-01-01 04:30:00
16      2012-01-01 05:00:00
17      2012-01-01 05:30:00
18      2012-01-01 06:00:00
19      2012-01-01 06:30:00
20      2012-01-01 07:00:00
21      2012-01-01 07:30:00
22      2012-01-01 08:00:00
23      2012-01-01 08:30:00
24      2012-01-01 09:00:00
25      2012-01-01 09:30:00
26      2012-01-01 10:00:00
27      2012-01-01 10:30:00
28      2012-01-01 11:00:00
29      2012-01-01 11:30:00
                ...
88034   2017-01-01 03:30:00
88035   2017-01-01 04:00:00
88036   2017-01-01 04:30:00
88037   2017-01-01 05:00:00
88038   2017-01-01 05:30:00
88039   2017-01-01 06:00:00
88040   2017-01-01 06:30:00
88041   2017-01-01 07:00:00
88042   2017-01-01 07:30:00
88043   2017-01-01 08:00:00
88044   2017-01-01 08:30:00
88045   2017-01-01 09:00:00
88046   2017-01-01 09:30:00
88047   2017-01-01 10:00:00
88048   2017-01-01 10:30:00
88049   2017-01-01 11:00:00
88050   2017-01-01 11:30:00
88051   2017-01-01 12:00:00
88052   2017-01-01 12:30:00
88053   2017-01-01 13:00:00
88054   2017-01-01 13:30:00
88055   2017-01-01 14:00:00
88056   2017-01-01 14:30:00
88057   2017-01-01 15:00:00
88058   2017-01-01 15:30:00
88059   2017-01-01 16:00:00
88060   2017-01-01 16:30:00
88061   2017-01-01 17:00:00
88062   2017-01-01 17:30:00
88063   2017-01-01 18:00:00
Name: date_time_utc, Length: 88064, dtype: datetime64[ns]

In [33]:
z.astype('int64') / (np.timedelta64(30,'m').astype('timedelta64[ns]').astype('int64'))

0        736314.0
1        736315.0
2        736316.0
3        736317.0
4        736318.0
5        736319.0
6        736320.0
7        736321.0
8        736322.0
9        736323.0
10       736324.0
11       736325.0
12       736326.0
13       736327.0
14       736328.0
15       736329.0
16       736330.0
17       736331.0
18       736332.0
19       736333.0
20       736334.0
21       736335.0
22       736336.0
23       736337.0
24       736338.0
25       736339.0
26       736340.0
27       736341.0
28       736342.0
29       736343.0
           ...
88034    824023.0
88035    824024.0
88036    824025.0
88037    824026.0
88038    824027.0
88039    824028.0
88040    824029.0
88041    824030.0
88042    824031.0
88043    824032.0
88044    824033.0
88045    824034.0
88046    824035.0
88047    824036.0
88048    824037.0
88049    824038.0
88050    824039.0
88051    824040.0
88052    824041.0
88053    824042.0
88054    824043.0
88055    824044.0
88056    824045.0
88057    824046.0
88058    824047.0
88059    824048.0
88060    824049.0
88061    824050.0
88062    824051.0
88063    824052.0
Name: date_time_utc, Length: 88064, dtype: float64

In [50]:
z = mmx_forecast_interpolated['date_time_utc']
x = pd.Timedelta('30m').to_timedelta64()
z.dt.nanosecond

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
88034    0
88035    0
88036    0
88037    0
88038    0
88039    0
88040    0
88041    0
88042    0
88043    0
88044    0
88045    0
88046    0
88047    0
88048    0
88049    0
88050    0
88051    0
88052    0
88053    0
88054    0
88055    0
88056    0
88057    0
88058    0
88059    0
88060    0
88061    0
88062    0
88063    0
Name: date_time_utc, Length: 88064, dtype: int64

## Convert Raw to Mmx

* Load Raw mm94 data

In [11]:
%%time
raw = load_mm94_stations(mm94_station_id)
raw.head()

CPU times: user 1.82 s, sys: 179 ms, total: 2 s
Wall time: 2 s

* Convert Raw to Mmx

In [9]:
mmx_rwis = convert_raw_to_mmx(raw)
mmx_rwis_interpolated = interpolate_mmx(mmx_rwis)
mmx_rwis_interpolated.tail()

Column id_p_weather can not be calculated
Column data_visibility can not be calculated
Column id_visibility can not be calculated
Column data_p_weather can not be calculated

,date_time_utc,data_t_road,data_wind_velocity,data_pressure,id_wind_dir,id_salinity,station_id,id_dew_point,id_wind_speedmax,id_t_road,...,data_cloudiness,id_wind_velocity,data_dampness,data_t_underroad,data_dew_point,data_precip_code,data_freezing_point,data_wind_speedmax,id_precip_count,data_wind_dir
140991,2016-04-11 09:00:00,11.30,1.55,753.0,NaN,NaN,1820,NaN,NaN,NaN,...,25.0,NaN,66.70,9.45,-1.55,0.0,0.0,1.90,NaN,112.5
140992,2016-04-11 09:30:00,11.10,1.40,753.0,NaN,NaN,1820,NaN,NaN,NaN,...,25.0,NaN,65.15,9.45,-1.85,0.0,0.0,1.95,NaN,180.0
140993,2016-04-11 10:00:00,11.10,1.20,753.0,NaN,NaN,1820,NaN,NaN,NaN,...,25.0,NaN,63.45,9.40,-2.15,0.0,0.0,2.25,NaN,337.5
140994,2016-04-11 10:30:00,11.05,1.85,753.0,NaN,NaN,1820,NaN,NaN,NaN,...,30.0,NaN,61.65,9.55,-2.60,0.0,0.0,2.55,NaN,292.5
140995,2016-04-11 11:00:00,11.10,2.60,753.0,NaN,NaN,1820,NaN,NaN,NaN,...,30.0,NaN,61.40,9.60,-2.70,NaN,0.0,2.60,NaN,225.0

In [9]:
mmcc_rwis = convert_mmx_to_mmcc_forecast(mmx_rwis_interpolated)
mmx_rwis_interpolated.head()

Column p_weather can not be calculated
Column visibility can not be calculated

,precipitation_type,date_time_utc,visibility,wind_direction,humidity,station_id,p_weather,date_time_metro,t_dew_point,precipitation_intensity,t_air,pressure,wind_speed,cloudiness
0,9999.0,2008-03-23 19:47:06,9999,9999.0,96.4,1820,9999,2008-03-23 19:47 UTC,-1.0,9999.0,-0.5,9999.0,9999.0,9999.0
1,9999.0,2008-03-24 02:36:20,9999,9999.0,98.6,1820,9999,2008-03-24 02:36 UTC,-3.0,9999.0,-2.9,9999.0,9999.0,9999.0
2,9999.0,2008-03-24 04:38:22,9999,9999.0,93.3,1820,9999,2008-03-24 04:38 UTC,-5.0,9999.0,-4.1,9999.0,9999.0,9999.0
3,9999.0,2008-03-24 06:43:39,9999,9999.0,92.9,1820,9999,2008-03-24 06:43 UTC,-5.4,9999.0,-4.5,9999.0,9999.0,9999.0
4,9999.0,2008-03-24 07:37:49,9999,9999.0,93.2,1820,9999,2008-03-24 07:37 UTC,-4.5,9999.0,-3.6,9999.0,9999.0,9999.0