In [1]:
import json
import numpy as np
import pandas as pd
from copy import copy
import sys
sys.path.append('/home/ndsviriden/MinMax94/src/utils') 
#from Preprocessing import Preprocessor
from constants import RUSSIAN_TIME_ZONES, rp5_columns
from interpolation import interpolate_mmx, create_patterns
from converters import convert_rp5_to_mmx, convert_raw_to_mmx, convert_mmx_to_mmcc_forecast, convert_raw_to_mmx
from loaders import load_rp5_stations, load_mm94_stations
from geographical import find_nearest_wmo_station
from Preprocessing import vincenty_dist

mypath = '/mnt/HARD/MinMax94/data/CSV'

## Convert RP5 to Mmx

* Choose one mm94 station and finding the closeat wmo station

In [8]:
## find nearest wmo station
mm94_station_id = 20833

wmo_station_id = find_nearest_wmo_station(mm94_station_id)
print(wmo_station_id.min())

MIN:  11.426329335
23412

* Load data from the nearest wmo station

In [3]:
rp5 = load_rp5_stations(wmo_station_id)

* Convert from RP5 to Mmx format

In [4]:
mmx_forecast = convert_rp5_to_mmx(rp5)
mmx_forecast_interpolated = interpolate_mmx(mmx_forecast, 20)
mmx_forecast_interpolated

,date_time_utc,data_pressure,data_visibility,data_precip_count,station_id,data_dew_point,data_precip_code,date_time,data_cloudiness,data_wind_speedmax,data_p_weather,data_t_air,data_wind_dir,data_dampness,data_wind_velocity
0,2013-01-11 12:00:00,760.800000,20000.000000,NaN,35700,-10.700000,20.0,2013-01-11 17:00:00,75.000000,NaN,0.0,-8.800000,112.5,86.000000,3.000000
1,2013-01-11 12:20:00,760.911111,20000.000000,NaN,35700,-10.766667,20.0,2013-01-11 17:20:00,77.777778,NaN,0.0,-8.933333,112.5,86.444444,3.000000
2,2013-01-11 12:40:00,761.022222,20000.000000,NaN,35700,-10.833333,20.0,2013-01-11 17:40:00,80.555556,NaN,0.0,-9.066667,112.5,86.888889,3.000000
3,2013-01-11 13:00:00,761.133333,20000.000000,NaN,35700,-10.900000,20.0,2013-01-11 18:00:00,83.333333,NaN,0.0,-9.200000,112.5,87.333333,3.000000
4,2013-01-11 13:20:00,761.244444,20000.000000,NaN,35700,-10.966667,20.0,2013-01-11 18:20:00,86.111111,NaN,0.0,-9.333333,112.5,87.777778,3.000000
5,2013-01-11 13:40:00,761.355556,20000.000000,NaN,35700,-11.033333,20.0,2013-01-11 18:40:00,88.888889,NaN,0.0,-9.466667,112.5,88.222222,3.000000
6,2013-01-11 14:00:00,761.466667,20000.000000,NaN,35700,-11.100000,20.0,2013-01-11 19:00:00,91.666667,NaN,0.0,-9.600000,112.5,88.666667,3.000000
7,2013-01-11 14:20:00,761.577778,20000.000000,NaN,35700,-11.166667,20.0,2013-01-11 19:20:00,94.444444,NaN,0.0,-9.733333,112.5,89.111111,3.000000
8,2013-01-11 14:40:00,761.688889,20000.000000,NaN,35700,-11.233333,20.0,2013-01-11 19:40:00,97.222222,NaN,0.0,-9.866667,112.5,89.555556,3.000000
9,2013-01-11 15:00:00,761.800000,20000.000000,0.083333,35700,-11.300000,20.0,2013-01-11 20:00:00,100.000000,NaN,0.0,-10.000000,112.5,90.000000,3.000000
10,2013-01-11 15:20:00,761.933333,20000.000000,0.083333,35700,-11.800000,20.0,2013-01-11 20:20:00,97.222222,NaN,0.0,-10.422222,112.5,89.444444,3.222222
11,2013-01-11 15:40:00,762.066667,20000.000000,0.083333,35700,-12.300000,20.0,2013-01-11 20:40:00,94.444444,NaN,0.0,-10.844444,112.5,88.888889,3.444444
12,2013-01-11 16:00:00,762.200000,20000.000000,0.083333,35700,-12.800000,20.0,2013-01-11 21:00:00,91.666667,NaN,0.0,-11.266667,112.5,88.333333,3.666667
13,2013-01-11 16:20:00,762.333333,20000.000000,0.083333,35700,-13.300000,20.0,2013-01-11 21:20:00,88.888889,NaN,0.0,-11.688889,112.5,87.777778,3.888889
14,2013-01-11 16:40:00,762.466667,20000.000000,0.083333,35700,-13.800000,20.0,2013-01-11 21:40:00,86.111111,NaN,0.0,-12.111111,112.5,87.222222,4.111111
15,2013-01-11 17:00:00,762.600000,20000.000000,0.083333,35700,-14.300000,20.0,2013-01-11 22:00:00,83.333333,NaN,0.0,-12.533333,112.5,86.666667,4.333333
16,2013-01-11 17:20:00,762.733333,20000.000000,0.083333,35700,-14.800000,20.0,2013-01-11 22:20:00,80.555556,NaN,0.0,-12.955556,112.5,86.111111,4.555556
17,2013-01-11 17:40:00,762.866667,20000.000000,0.083333,35700,-15.300000,20.0,2013-01-11 22:40:00,77.777778,NaN,0.0,-13.377778,112.5,85.555556,4.777778
18,2013-01-11 18:00:00,763.000000,20000.000000,0.083333,35700,-15.800000,20.0,2013-01-11 23:00:00,75.000000,NaN,0.0,-13.800000,112.5,85.000000,5.000000
19,2013-01-11 18:20:00,763.155556,20000.000000,0.082992,35700,-15.977778,20.0,2013-01-11 23:20:00,77.777778,NaN,0.0,-13.988889,115.0,85.111111,4.888889
20,2013-01-11 18:40:00,763.311111,20000.000000,0.082651,35700,-16.155556,20.0,2013-01-11 23:40:00,80.555556,NaN,0.0,-14.177778,117.5,85.222222,4.777778
21,2013-01-11 19:00:00,763.466667,20000.000000,0.082310,35700,-16.333333,20.0,2013-01-12 00:00:00,83.333333,NaN,0.0,-14.366667,120.0,85.333333,4.666667
22,2013-01-11 19:20:00,763.622222,20000.000000,0.081969,35700,-16.511111,20.0,2013-01-12 00:20:00,86.111111,NaN,0.0,-14.555556,122.5,85.444444,4.555556
23,2013-01-11 19:40:00,763.777778,20000.000000,0.081628,35700,-16.688889,0.0,2013-01-12 00:40:00,88.888889,NaN,0.0,-14.744444,125.0,85.555556,4.444444
24,2013-01-11 20:00:00,763.933333,20000.000000,0.081287,35700,-16.866667,0.0,2013-01-12 01:00:00,91.666667,NaN,0.0,-14.933333,127.5,85.666667,4.333333
25,2013-01-11 20:20:00,764.088889,20000.000000,0.080945,35700,-17.044444,0.0,2013-01-12 01:20:00,94.444444,NaN,0.0,-15.122222,130.0,85.777778,4.222222
26,2013-01-11 20:40:00,764.244444,20000.000000,0.080604,35700,-17.222222,0.0,2013-01-12 01:40:00,97.222222,NaN,0.0,-15.311111,132.5,85.888889,4.111111
27,2013-01-11 21:00:00,764.400000,20000.000000,0.080263,35700,-17.400000,0.0,2013-01-12 02:00:00,100.000000,NaN,0.0,-15.500000,135.0,86.000000,4.000000
28,2013-01-11 21:20:00,764.500000,20000.000000,NaN,35700,-17.655556,0.0,2013-01-12 02:20:00,100.000000,NaN,0.0,-15.755556,135.0,85.888889,4.111111
29,2013-01-11 21:40:00,764.600000,20000.000000,NaN,35700,-17.911111,0.0,2013-01-12 02:40:00,100.000000,NaN,0.0,-16.011111,135.0,85.777778,4.222222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104315,2017-01-01 08:20:00,764.688889,20000.000000,NaN,35700,-4.466667,20.0,2017-01-01 13:20:00,100.000000,NaN,0.0,-3.155556,40.0,90.666667,2.777778
104316,2017-01-01 08:40:00,764.544444,20000.000000,NaN,35700,-4.533333,20.0,2017-01-01 13:40:00,100.000000,NaN,0.0,-3.177778,42.5,90.333333,2.888889
104317,2017-01-01 09:00:00,764.400000,20000.000000,NaN,35700,-4.600000,20.0,2017-01-01 14:00:00,100.000000,NaN,0.0,-3.200000,45.0,90.000000,3.000000
104318,2017-01-01 09:20:00,764.277778,20000.000000,NaN,35700,-4.633333,20.0,2017-01-01 14:20:00,100.000000,NaN,0.0,-3.233333,42.5,90.000000,2.888889
104319,2017-01-01 09:40:00,764.155556,20000.000000,NaN,35700,-4.666667,20.0,2017-01-01 14:40:00,100.000000,NaN,0.0,-3.266667,40.0,90.000000,2.777778
104320,2017-01-01 10:00:00,764.033333,20000.000000,NaN,35700,-4.700000,20.0,2017-01-01 15:00:00,100.000000,NaN,0.0,-3.300000,37.5,90.000000,2.666667
104321,2017-01-01 10:20:00,763.911111,20000.000000,NaN,35700,-4.733333,20.0,2017-01-01 15:20:00,100.000000,NaN,0.0,-3.333333,35.0,90.000000,2.555556
104322,2017-01-01 10:40:00,763.788889,20000.000000,NaN,35700,-4.766667,20.0,2017-01-01 15:40:00,100.000000,NaN,0.0,-3.366667,32.5,90.000000,2.444444
104323,2017-01-01 11:00:00,763.666667,20000.000000,NaN,35700,-4.800000,20.0,2017-01-01 16:00:00,100.000000,NaN,0.0,-3.400000,30.0,90.000000,2.333333
104324,2017-01-01 11:20:00,763.544444,20000.000000,NaN,35700,-4.833333,20.0,2017-01-01 16:20:00,100.000000,NaN,0.0,-3.433333,27.5,90.000000,2.222222
104325,2017-01-01 11:40:00,763.422222,20000.000000,NaN,35700,-4.866667,20.0,2017-01-01 16:40:00,100.000000,NaN,0.0,-3.466667,25.0,90.000000,2.111111
104326,2017-01-01 12:00:00,763.300000,20000.000000,NaN,35700,-4.900000,20.0,2017-01-01 17:00:00,100.000000,NaN,0.0,-3.500000,22.5,90.000000,2.000000
104327,2017-01-01 12:20:00,763.233333,20000.000000,NaN,35700,-4.944444,20.0,2017-01-01 17:20:00,100.000000,NaN,0.0,-3.566667,20.0,90.111111,2.000000
104328,2017-01-01 12:40:00,763.166667,20000.000000,NaN,35700,-4.988889,20.0,2017-01-01 17:40:00,100.000000,NaN,0.0,-3.633333,17.5,90.222222,2.000000
104329,2017-01-01 13:00:00,763.100000,20000.000000,NaN,35700,-5.033333,20.0,2017-01-01 18:00:00,100.000000,NaN,0.0,-3.700000,15.0,90.333333,2.000000
104330,2017-01-01 13:20:00,763.033333,20000.000000,NaN,35700,-5.077778,20.0,2017-01-01 18:20:00,100.000000,NaN,0.0,-3.766667,12.5,90.444444,2.000000
104331,2017-01-01 13:40:00,762.966667,20000.000000,NaN,35700,-5.122222,10.0,2017-01-01 18:40:00,100.000000,NaN,0.0,-3.833333,10.0,90.555556,2.000000
104332,2017-01-01 14:00:00,762.900000,20000.000000,NaN,35700,-5.166667,10.0,2017-01-01 19:00:00,100.000000,NaN,0.0,-3.900000,7.5,90.666667,2.000000
104333,2017-01-01 14:20:00,762.833333,20000.000000,NaN,35700,-5.211111,10.0,2017-01-01 19:20:00,100.000000,NaN,0.0,-3.966667,5.0,90.777778,2.000000
104334,2017-01-01 14:40:00,762.766667,20000.000000,NaN,35700,-5.255556,10.0,2017-01-01 19:40:00,100.000000,NaN,0.0,-4.033333,2.5,90.888889,2.000000
104335,2017-01-01 15:00:00,762.700000,20000.000000,0.004167,35700,-5.300000,10.0,2017-01-01 20:00:00,100.000000,NaN,0.0,-4.100000,0.0,91.000000,2.000000
104336,2017-01-01 15:20:00,762.666667,18222.222222,0.004167,35700,-5.322222,10.0,2017-01-01 20:20:00,100.000000,NaN,0.0,-4.122222,0.0,91.000000,2.000000
104337,2017-01-01 15:40:00,762.633333,16444.444444,0.004167,35700,-5.344444,10.0,2017-01-01 20:40:00,100.000000,NaN,0.0,-4.144444,0.0,91.000000,2.000000
104338,2017-01-01 16:00:00,762.600000,14666.666667,0.004167,35700,-5.366667,10.0,2017-01-01 21:00:00,100.000000,NaN,0.0,-4.166667,0.0,91.000000,2.000000
104339,2017-01-01 16:20:00,762.566667,12888.888889,0.004167,35700,-5.388889,10.0,2017-01-01 21:20:00,100.000000,NaN,0.0,-4.188889,0.0,91.000000,2.000000
104340,2017-01-01 16:40:00,762.533333,11111.111111,0.004167,35700,-5.411111,10.0,2017-01-01 21:40:00,100.000000,NaN,0.0,-4.211111,0.0,91.000000,2.000000
104341,2017-01-01 17:00:00,762.500000,9333.333333,0.004167,35700,-5.433333,10.0,2017-01-01 22:00:00,100.000000,NaN,0.0,-4.233333,0.0,91.000000,2.000000
104342,2017-01-01 17:20:00,762.466667,7555.555556,0.004167,35700,-5.455556,10.0,2017-01-01 22:20:00,100.000000,NaN,0.0,-4.255556,0.0,91.000000,2.000000
104343,2017-01-01 17:40:00,762.433333,5777.777778,0.004167,35700,-5.477778,10.0,2017-01-01 22:40:00,100.000000,NaN,0.0,-4.277778,0.0,91.000000,2.000000
104344,2017-01-01 18:00:00,762.400000,4000.000000,0.004167,35700,-5.500000,10.0,2017-01-01 23:00:00,100.000000,NaN,0.0,-4.300000,0.0,91.000000,2.000000

* Convert from Mmx to MmccForecast format

In [5]:
mmcc_forecast = convert_mmx_to_mmcc_forecast(mmx_forecast_interpolated)

## Convert Raw to Mmx

* Load Raw mm94 data

In [6]:
%%time
raw = load_mm94_stations(mm94_station_id)
raw.head()

CPU times: user 1.84 s, sys: 120 ms, total: 1.96 s
Wall time: 1.96 s

* Convert Raw to Mmx

In [7]:
mmx_rwis = convert_raw_to_mmx(raw)
mmx_rwis_interpolated = interpolate_mmx(mmx_rwis, 20)
mmx_rwis_interpolated = create_patterns(mmx_rwis_interpolated)

Column id_p_weather can not be calculated
Column data_visibility can not be calculated
Column id_visibility can not be calculated
Column data_p_weather can not be calculated

In [9]:
mmcc_rwis = convert_mmx_to_mmcc_forecast(mmx_rwis_interpolated)
mmcc_rwis

Column visibility can not be calculated
Column p_weather can not be calculated

,date_time_metro,wind_direction,wind_speed,precipitation_type,station_id,t_air,humidity,pressure,t_dew_point,precipitation_intensity,visibility,date_time_utc,p_weather,cloudiness
19,2008-03-23 21:00 UTC,9999.000000,9999.0,9999.0,1821,-2.733333,97.975000,9999.000000,-2.925000,9999.0,9999,2008-03-23 21:00:00,9999,9999.0
20,2008-03-23 21:20 UTC,9999.000000,9999.0,9999.0,1821,-2.666667,98.050000,9999.000000,-2.850000,9999.0,9999,2008-03-23 21:20:00,9999,9999.0
21,2008-03-23 21:40 UTC,9999.000000,9999.0,9999.0,1821,-2.600000,98.125000,9999.000000,-2.775000,9999.0,9999,2008-03-23 21:40:00,9999,9999.0
22,2008-03-23 22:00 UTC,9999.000000,9999.0,9999.0,1821,-2.533333,98.200000,9999.000000,-2.700000,9999.0,9999,2008-03-23 22:00:00,9999,9999.0
23,2008-03-23 22:20 UTC,9999.000000,9999.0,9999.0,1821,-2.466667,98.275000,9999.000000,-2.625000,9999.0,9999,2008-03-23 22:20:00,9999,9999.0
24,2008-03-23 22:40 UTC,9999.000000,9999.0,9999.0,1821,-2.400000,98.350000,9999.000000,-2.550000,9999.0,9999,2008-03-23 22:40:00,9999,9999.0
25,2008-03-23 23:00 UTC,9999.000000,9999.0,9999.0,1821,-2.333333,98.425000,9999.000000,-2.475000,9999.0,9999,2008-03-23 23:00:00,9999,9999.0
26,2008-03-23 23:20 UTC,9999.000000,9999.0,9999.0,1821,-2.266667,98.500000,9999.000000,-2.400000,9999.0,9999,2008-03-23 23:20:00,9999,9999.0
27,2008-03-23 23:40 UTC,9999.000000,9999.0,9999.0,1821,-2.200000,98.575000,9999.000000,-2.325000,9999.0,9999,2008-03-23 23:40:00,9999,9999.0
28,2008-03-24 00:40 UTC,9999.000000,9999.0,9999.0,1821,-2.050000,98.575000,9999.000000,-2.175000,9999.0,9999,2008-03-24 00:40:00,9999,9999.0
29,2008-03-24 01:00 UTC,9999.000000,9999.0,9999.0,1821,-2.100000,98.350000,9999.000000,-2.250000,9999.0,9999,2008-03-24 01:00:00,9999,9999.0
30,2008-03-24 01:20 UTC,9999.000000,9999.0,9999.0,1821,-2.150000,98.125000,9999.000000,-2.325000,9999.0,9999,2008-03-24 01:20:00,9999,9999.0
31,2008-03-24 01:40 UTC,9999.000000,9999.0,9999.0,1821,-2.150000,98.375000,9999.000000,-2.300000,9999.0,9999,2008-03-24 01:40:00,9999,9999.0
32,2008-03-24 02:00 UTC,9999.000000,9999.0,9999.0,1821,-2.100000,98.850000,9999.000000,-2.200000,9999.0,9999,2008-03-24 02:00:00,9999,9999.0
33,2008-03-24 02:20 UTC,9999.000000,9999.0,9999.0,1821,-2.050000,99.325000,9999.000000,-2.100000,9999.0,9999,2008-03-24 02:20:00,9999,9999.0
34,2008-03-24 02:40 UTC,9999.000000,9999.0,9999.0,1821,-2.000000,99.725000,9999.000000,-2.000000,9999.0,9999,2008-03-24 02:40:00,9999,9999.0
35,2008-03-24 03:00 UTC,9999.000000,9999.0,9999.0,1821,-2.000000,99.650000,9999.000000,-2.000000,9999.0,9999,2008-03-24 03:00:00,9999,9999.0
36,2008-03-24 03:20 UTC,9999.000000,9999.0,9999.0,1821,-2.000000,99.575000,9999.000000,-2.000000,9999.0,9999,2008-03-24 03:20:00,9999,9999.0
37,2008-03-24 03:40 UTC,9999.000000,9999.0,9999.0,1821,-2.371429,98.628571,9999.000000,-2.500000,9999.0,9999,2008-03-24 03:40:00,9999,9999.0
38,2008-03-24 04:00 UTC,9999.000000,9999.0,9999.0,1821,-2.742857,97.757143,9999.000000,-3.000000,9999.0,9999,2008-03-24 04:00:00,9999,9999.0
39,2008-03-24 04:20 UTC,9999.000000,9999.0,9999.0,1821,-3.114286,96.885714,9999.000000,-3.500000,9999.0,9999,2008-03-24 04:20:00,9999,9999.0
40,2008-03-24 04:40 UTC,9999.000000,9999.0,9999.0,1821,-3.485714,96.014286,9999.000000,-4.000000,9999.0,9999,2008-03-24 04:40:00,9999,9999.0
41,2008-03-24 05:00 UTC,9999.000000,9999.0,9999.0,1821,-3.857143,95.142857,9999.000000,-4.500000,9999.0,9999,2008-03-24 05:00:00,9999,9999.0
42,2008-03-24 05:20 UTC,9999.000000,9999.0,9999.0,1821,-4.228571,94.271429,9999.000000,-5.000000,9999.0,9999,2008-03-24 05:20:00,9999,9999.0
43,2008-03-24 05:40 UTC,9999.000000,9999.0,9999.0,1821,-4.575000,93.525000,9999.000000,-5.450000,9999.0,9999,2008-03-24 05:40:00,9999,9999.0
44,2008-03-24 06:00 UTC,9999.000000,9999.0,9999.0,1821,-4.550000,93.650000,9999.000000,-5.400000,9999.0,9999,2008-03-24 06:00:00,9999,9999.0
45,2008-03-24 06:20 UTC,9999.000000,9999.0,9999.0,1821,-4.525000,93.775000,9999.000000,-5.350000,9999.0,9999,2008-03-24 06:20:00,9999,9999.0
46,2008-03-24 06:40 UTC,9999.000000,9999.0,9999.0,1821,-4.520000,93.920000,9999.000000,-5.320000,9999.0,9999,2008-03-24 06:40:00,9999,9999.0
47,2008-03-24 07:00 UTC,9999.000000,9999.0,9999.0,1821,-4.540000,93.940000,9999.000000,-5.340000,9999.0,9999,2008-03-24 07:00:00,9999,9999.0
48,2008-03-24 07:20 UTC,9999.000000,9999.0,9999.0,1821,-4.560000,93.960000,9999.000000,-5.360000,9999.0,9999,2008-03-24 07:20:00,9999,9999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201936,2016-03-11 02:00 UTC,270.000000,1.8,0.0,1821,-1.300000,96.500000,759.000000,-1.750000,0.0,9999,2016-03-11 02:00:00,9999,70.0
201937,2016-03-11 02:20 UTC,270.000000,1.8,0.0,1821,-1.300000,97.180000,759.000000,-1.680000,0.0,9999,2016-03-11 02:20:00,9999,70.0
201938,2016-03-11 02:40 UTC,270.000000,1.8,0.0,1821,-1.300000,97.460000,759.000000,-1.660000,0.0,9999,2016-03-11 02:40:00,9999,70.0
201939,2016-03-11 03:00 UTC,270.000000,1.8,0.0,1821,-1.300000,98.020000,759.000000,-1.620000,0.0,9999,2016-03-11 03:00:00,9999,80.0
201940,2016-03-11 03:20 UTC,270.000000,1.8,0.0,1821,-1.400000,98.566667,759.000000,-1.666667,0.0,9999,2016-03-11 03:20:00,9999,80.0
201941,2016-03-11 03:40 UTC,270.000000,1.8,0.0,1821,-1.500000,98.833333,759.000000,-1.733333,0.0,9999,2016-03-11 03:40:00,9999,70.0
201942,2016-03-11 04:00 UTC,270.000000,1.8,0.0,1821,-1.650000,99.550000,759.000000,-1.750000,0.0,9999,2016-03-11 04:00:00,9999,80.0
201943,2016-03-11 04:20 UTC,270.000000,1.8,0.0,1821,-1.700000,100.000000,759.000000,-1.700000,0.0,9999,2016-03-11 04:20:00,9999,80.0
201944,2016-03-11 04:40 UTC,270.000000,1.8,0.0,1821,-1.700000,100.000000,759.000000,-1.700000,0.0,9999,2016-03-11 04:40:00,9999,70.0
201945,2016-03-11 05:00 UTC,180.000000,1.8,0.0,1821,-1.650000,100.000000,759.000000,-1.650000,0.0,9999,2016-03-11 05:00:00,9999,70.0
201946,2016-03-11 05:20 UTC,135.000000,1.8,0.0,1821,-1.466667,99.866667,759.000000,-1.500000,0.0,9999,2016-03-11 05:20:00,9999,70.0
201947,2016-03-11 05:40 UTC,180.000000,1.8,0.0,1821,-1.333333,99.733333,759.000000,-1.400000,0.0,9999,2016-03-11 05:40:00,9999,70.0
201948,2016-03-11 06:00 UTC,247.500000,1.8,0.0,1821,-1.050000,99.000000,759.000000,-1.200000,0.0,9999,2016-03-11 06:00:00,9999,70.0
201949,2016-03-11 06:20 UTC,270.000000,1.8,0.0,1821,-0.733333,97.966667,759.000000,-1.000000,0.0,9999,2016-03-11 06:20:00,9999,70.0
201950,2016-03-11 06:40 UTC,270.000000,1.8,0.0,1821,-0.566667,97.533333,759.000000,-0.900000,0.0,9999,2016-03-11 06:40:00,9999,80.0
201951,2016-03-11 07:00 UTC,270.000000,1.8,0.0,1821,-0.200000,96.050000,759.000000,-0.700000,0.0,9999,2016-03-11 07:00:00,9999,60.0
201952,2016-03-11 07:20 UTC,255.000000,1.8,0.0,1821,0.166667,94.166667,759.000000,-0.566667,0.0,9999,2016-03-11 07:20:00,9999,50.0
201953,2016-03-11 07:40 UTC,240.000000,1.8,0.0,1821,0.333333,93.333333,759.000000,-0.533333,0.0,9999,2016-03-11 07:40:00,9999,60.0
201954,2016-03-11 08:00 UTC,225.000000,1.8,0.0,1821,0.700000,91.600000,759.000000,-0.450000,0.0,9999,2016-03-11 08:00:00,9999,60.0
201955,2016-03-11 08:20 UTC,225.000000,1.8,0.0,1821,1.366667,87.666667,759.000000,-0.433333,0.0,9999,2016-03-11 08:20:00,9999,60.0
201956,2016-03-11 08:40 UTC,225.000000,1.8,0.0,1821,1.833333,84.633333,759.000000,-0.466667,0.0,9999,2016-03-11 08:40:00,9999,70.0
201957,2016-03-11 09:00 UTC,224.916859,1.8,9999.0,1821,2.300000,81.600000,758.931594,-0.500000,0.0,9999,2016-03-11 09:00:00,9999,70.0
201958,2016-03-11 09:20 UTC,224.833718,1.8,9999.0,1821,2.300000,81.600000,758.863187,-0.500000,0.0,9999,2016-03-11 09:20:00,9999,70.0
201959,2016-03-11 09:40 UTC,224.750577,1.8,9999.0,1821,2.300000,81.600000,758.794781,-0.500000,0.0,9999,2016-03-11 09:40:00,9999,70.0
201960,2016-03-11 10:00 UTC,224.667436,1.8,9999.0,1821,2.300000,81.600000,758.726374,-0.500000,0.0,9999,2016-03-11 10:00:00,9999,70.0
201961,2016-03-11 10:20 UTC,224.584296,1.8,9999.0,1821,2.300000,81.600000,758.657968,-0.500000,0.0,9999,2016-03-11 10:20:00,9999,70.0
201962,2016-03-11 10:40 UTC,224.501155,1.8,9999.0,1821,2.300000,81.600000,758.589561,-0.500000,0.0,9999,2016-03-11 10:40:00,9999,70.0
201963,2016-03-11 11:00 UTC,224.418014,1.8,9999.0,1821,2.300000,81.600000,758.521155,-0.500000,0.0,9999,2016-03-11 11:00:00,9999,70.0
201964,2016-03-11 11:20 UTC,224.334873,1.8,9999.0,1821,2.300000,81.600000,758.452748,-0.500000,0.0,9999,2016-03-11 11:20:00,9999,70.0
201965,2016-03-11 11:40 UTC,224.251732,1.8,9999.0,1821,2.300000,81.600000,758.384342,-0.500000,0.0,9999,2016-03-11 11:40:00,9999,70.0