In [1]:
import json
import numpy as np
import pandas as pd
from copy import copy
import sys
sys.path.append('/home/ndsviriden/MinMax94/src/utils') 
from constants import RUSSIAN_TIME_ZONES, rp5_columns
from interpolation import interpolate_mmx, create_patterns
from converters import convert_rp5_to_mmx, convert_raw_to_mmx, convert_mmx_to_mmcc_forecast, convert_raw_to_mmx
from loaders import load_rp5_stations, load_mm94_stations
from geographical import find_nearest_wmo_station

## Convert RP5 to Mmx

* Choose one mm94 station and finding the closeat wmo station

In [2]:
## find nearest wmo station
mm94_station_id = 20833

wmo_station_id = find_nearest_wmo_station(mm94_station_id)
print(wmo_station_id.min())

23412

* Load data from the nearest wmo station

In [3]:
rp5 = load_rp5_stations(wmo_station_id)

* Convert from RP5 to Mmx format

In [4]:
mmx_forecast = convert_rp5_to_mmx(rp5)
mmx_forecast_interpolated = interpolate_mmx(mmx_forecast, 20)
mmx_forecast_interpolated

,date_time_utc,data_precip_code,data_pressure,data_cloudiness,data_t_air,data_wind_velocity,data_dampness,data_dew_point,data_wind_speedmax,data_p_weather,data_wind_dir,data_precip_count,data_visibility,station_id,date_time
0,2011-12-31 21:00:00,0.0,759.600000,100.000000,-0.900000,2.000000,95.000000,-1.600000,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 00:00:00
1,2011-12-31 21:20:00,0.0,759.633333,100.000000,-0.911111,2.000000,95.000000,-1.611111,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 00:20:00
2,2011-12-31 21:40:00,0.0,759.666667,100.000000,-0.922222,2.000000,95.000000,-1.622222,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 00:40:00
3,2011-12-31 22:00:00,0.0,759.700000,100.000000,-0.933333,2.000000,95.000000,-1.633333,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 01:00:00
4,2011-12-31 22:20:00,0.0,759.733333,100.000000,-0.944444,2.000000,95.000000,-1.644444,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 01:20:00
5,2011-12-31 22:40:00,0.0,759.766667,100.000000,-0.955556,2.000000,95.000000,-1.655556,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 01:40:00
6,2011-12-31 23:00:00,0.0,759.800000,100.000000,-0.966667,2.000000,95.000000,-1.666667,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 02:00:00
7,2011-12-31 23:20:00,0.0,759.833333,100.000000,-0.977778,2.000000,95.000000,-1.677778,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 02:20:00
8,2011-12-31 23:40:00,0.0,759.866667,100.000000,-0.988889,2.000000,95.000000,-1.688889,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 02:40:00
9,2012-01-01 00:00:00,0.0,759.900000,100.000000,-1.000000,2.000000,95.000000,-1.700000,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 03:00:00
10,2012-01-01 00:20:00,0.0,759.966667,100.000000,-1.011111,2.000000,95.000000,-1.711111,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 03:20:00
11,2012-01-01 00:40:00,0.0,760.033333,100.000000,-1.022222,2.000000,95.000000,-1.722222,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 03:40:00
12,2012-01-01 01:00:00,0.0,760.100000,100.000000,-1.033333,2.000000,95.000000,-1.733333,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 04:00:00
13,2012-01-01 01:20:00,0.0,760.166667,100.000000,-1.044444,2.000000,95.000000,-1.744444,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 04:20:00
14,2012-01-01 01:40:00,0.0,760.233333,100.000000,-1.055556,2.000000,95.000000,-1.755556,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 04:40:00
15,2012-01-01 02:00:00,0.0,760.300000,100.000000,-1.066667,2.000000,95.000000,-1.766667,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 05:00:00
16,2012-01-01 02:20:00,0.0,760.366667,100.000000,-1.077778,2.000000,95.000000,-1.777778,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 05:20:00
17,2012-01-01 02:40:00,0.0,760.433333,100.000000,-1.088889,2.000000,95.000000,-1.788889,NaN,0.0,315.0,NaN,50000.000000,23412,2012-01-01 05:40:00
18,2012-01-01 03:00:00,0.0,760.500000,100.000000,-1.100000,2.000000,95.000000,-1.800000,NaN,0.0,315.0,0.075000,50000.000000,23412,2012-01-01 06:00:00
19,2012-01-01 03:20:00,0.0,760.600000,100.000000,-1.088889,2.000000,94.777778,-1.822222,NaN,0.0,315.0,0.075000,44888.888889,23412,2012-01-01 06:20:00
20,2012-01-01 03:40:00,0.0,760.700000,100.000000,-1.077778,2.000000,94.555556,-1.844444,NaN,0.0,315.0,0.075000,39777.777778,23412,2012-01-01 06:40:00
21,2012-01-01 04:00:00,0.0,760.800000,100.000000,-1.066667,2.000000,94.333333,-1.866667,NaN,0.0,315.0,0.075000,34666.666667,23412,2012-01-01 07:00:00
22,2012-01-01 04:20:00,0.0,760.900000,100.000000,-1.055556,2.000000,94.111111,-1.888889,NaN,0.0,315.0,0.075000,29555.555556,23412,2012-01-01 07:20:00
23,2012-01-01 04:40:00,0.0,761.000000,100.000000,-1.044444,2.000000,93.888889,-1.911111,NaN,0.0,315.0,0.075000,24444.444444,23412,2012-01-01 07:40:00
24,2012-01-01 05:00:00,0.0,761.100000,100.000000,-1.033333,2.000000,93.666667,-1.933333,NaN,0.0,315.0,0.075000,19333.333333,23412,2012-01-01 08:00:00
25,2012-01-01 05:20:00,0.0,761.200000,100.000000,-1.022222,2.000000,93.444444,-1.955556,NaN,0.0,315.0,0.075000,14222.222222,23412,2012-01-01 08:20:00
26,2012-01-01 05:40:00,0.0,761.300000,100.000000,-1.011111,2.000000,93.222222,-1.977778,NaN,0.0,315.0,0.075000,9111.111111,23412,2012-01-01 08:40:00
27,2012-01-01 06:00:00,0.0,761.400000,100.000000,-1.000000,2.000000,93.000000,-2.000000,NaN,0.0,315.0,0.075000,4000.000000,23412,2012-01-01 09:00:00
28,2012-01-01 06:20:00,0.0,761.455556,100.000000,-1.000000,2.000000,93.000000,-2.000000,NaN,0.0,280.0,0.073032,5777.777778,23412,2012-01-01 09:20:00
29,2012-01-01 06:40:00,0.0,761.511111,100.000000,-1.000000,2.000000,93.000000,-2.000000,NaN,0.0,245.0,0.071065,7555.555556,23412,2012-01-01 09:40:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131457,2017-01-01 08:20:00,0.0,739.455556,13.333333,-17.777778,3.222222,80.000000,-20.400000,NaN,0.0,190.0,NaN,50000.000000,23412,2017-01-01 11:20:00
131458,2017-01-01 08:40:00,0.0,739.677778,11.666667,-18.088889,3.111111,80.000000,-20.700000,NaN,0.0,185.0,NaN,50000.000000,23412,2017-01-01 11:40:00
131459,2017-01-01 09:00:00,0.0,739.900000,10.000000,-18.400000,3.000000,80.000000,-21.000000,NaN,0.0,180.0,NaN,50000.000000,23412,2017-01-01 12:00:00
131460,2017-01-01 09:20:00,0.0,740.066667,10.000000,-18.466667,3.000000,80.000000,-21.066667,NaN,0.0,180.0,NaN,50000.000000,23412,2017-01-01 12:20:00
131461,2017-01-01 09:40:00,0.0,740.233333,10.000000,-18.533333,3.000000,80.000000,-21.133333,NaN,0.0,180.0,NaN,50000.000000,23412,2017-01-01 12:40:00
131462,2017-01-01 10:00:00,0.0,740.400000,10.000000,-18.600000,3.000000,80.000000,-21.200000,NaN,0.0,180.0,NaN,50000.000000,23412,2017-01-01 13:00:00
131463,2017-01-01 10:20:00,0.0,740.566667,10.000000,-18.666667,3.000000,80.000000,-21.266667,NaN,0.0,180.0,NaN,50000.000000,23412,2017-01-01 13:20:00
131464,2017-01-01 10:40:00,0.0,740.733333,10.000000,-18.733333,3.000000,80.000000,-21.333333,NaN,0.0,180.0,NaN,50000.000000,23412,2017-01-01 13:40:00
131465,2017-01-01 11:00:00,0.0,740.900000,10.000000,-18.800000,3.000000,80.000000,-21.400000,NaN,0.0,180.0,NaN,50000.000000,23412,2017-01-01 14:00:00
131466,2017-01-01 11:20:00,0.0,741.066667,10.000000,-18.866667,3.000000,80.000000,-21.466667,NaN,0.0,180.0,NaN,50000.000000,23412,2017-01-01 14:20:00
131467,2017-01-01 11:40:00,0.0,741.233333,10.000000,-18.933333,3.000000,80.000000,-21.533333,NaN,0.0,180.0,NaN,50000.000000,23412,2017-01-01 14:40:00
131468,2017-01-01 12:00:00,0.0,741.400000,10.000000,-19.000000,3.000000,80.000000,-21.600000,NaN,0.0,180.0,NaN,50000.000000,23412,2017-01-01 15:00:00
131469,2017-01-01 12:20:00,0.0,741.577778,11.666667,-18.966667,3.000000,80.000000,-21.566667,NaN,0.0,185.0,NaN,50000.000000,23412,2017-01-01 15:20:00
131470,2017-01-01 12:40:00,0.0,741.755556,13.333333,-18.933333,3.000000,80.000000,-21.533333,NaN,0.0,190.0,NaN,50000.000000,23412,2017-01-01 15:40:00
131471,2017-01-01 13:00:00,0.0,741.933333,15.000000,-18.900000,3.000000,80.000000,-21.500000,NaN,0.0,195.0,NaN,50000.000000,23412,2017-01-01 16:00:00
131472,2017-01-01 13:20:00,0.0,742.111111,16.666667,-18.866667,3.000000,80.000000,-21.466667,NaN,0.0,200.0,NaN,50000.000000,23412,2017-01-01 16:20:00
131473,2017-01-01 13:40:00,0.0,742.288889,18.333333,-18.833333,3.000000,80.000000,-21.433333,NaN,0.0,205.0,NaN,50000.000000,23412,2017-01-01 16:40:00
131474,2017-01-01 14:00:00,0.0,742.466667,20.000000,-18.800000,3.000000,80.000000,-21.400000,NaN,0.0,210.0,NaN,50000.000000,23412,2017-01-01 17:00:00
131475,2017-01-01 14:20:00,0.0,742.644444,21.666667,-18.766667,3.000000,80.000000,-21.366667,NaN,0.0,215.0,NaN,50000.000000,23412,2017-01-01 17:20:00
131476,2017-01-01 14:40:00,0.0,742.822222,23.333333,-18.733333,3.000000,80.000000,-21.333333,NaN,0.0,220.0,NaN,50000.000000,23412,2017-01-01 17:40:00
131477,2017-01-01 15:00:00,0.0,743.000000,25.000000,-18.700000,3.000000,80.000000,-21.300000,NaN,0.0,225.0,0.004167,50000.000000,23412,2017-01-01 18:00:00
131478,2017-01-01 15:20:00,0.0,739.877778,25.000000,-18.866667,2.888889,80.000000,-21.466667,NaN,0.0,220.0,0.004167,50000.000000,23412,2017-01-01 18:20:00
131479,2017-01-01 15:40:00,0.0,736.755556,25.000000,-19.033333,2.777778,80.000000,-21.633333,NaN,0.0,215.0,0.004167,50000.000000,23412,2017-01-01 18:40:00
131480,2017-01-01 16:00:00,0.0,733.633333,25.000000,-19.200000,2.666667,80.000000,-21.800000,NaN,0.0,210.0,0.004167,50000.000000,23412,2017-01-01 19:00:00
131481,2017-01-01 16:20:00,0.0,730.511111,25.000000,-19.366667,2.555556,80.000000,-21.966667,NaN,0.0,205.0,0.004167,50000.000000,23412,2017-01-01 19:20:00
131482,2017-01-01 16:40:00,0.0,727.388889,25.000000,-19.533333,2.444444,80.000000,-22.133333,NaN,0.0,200.0,0.004167,50000.000000,23412,2017-01-01 19:40:00
131483,2017-01-01 17:00:00,0.0,724.266667,25.000000,-19.700000,2.333333,80.000000,-22.300000,NaN,0.0,195.0,0.004167,50000.000000,23412,2017-01-01 20:00:00
131484,2017-01-01 17:20:00,0.0,721.144444,25.000000,-19.866667,2.222222,80.000000,-22.466667,NaN,0.0,190.0,0.004167,50000.000000,23412,2017-01-01 20:20:00
131485,2017-01-01 17:40:00,0.0,718.022222,25.000000,-20.033333,2.111111,80.000000,-22.633333,NaN,0.0,185.0,0.004167,50000.000000,23412,2017-01-01 20:40:00
131486,2017-01-01 18:00:00,0.0,714.900000,25.000000,-20.200000,2.000000,80.000000,-22.800000,NaN,0.0,180.0,0.004167,50000.000000,23412,2017-01-01 21:00:00

* Convert from Mmx to MmccForecast format

In [5]:
mmcc_forecast = convert_mmx_to_mmcc_forecast(mmx_forecast_interpolated)

## Convert Raw to Mmx

* Load Raw mm94 data

In [6]:
%%time
raw = load_mm94_stations(mm94_station_id)
raw.head()

CPU times: user 1.84 s, sys: 120 ms, total: 1.96 s
Wall time: 1.96 s

* Convert Raw to Mmx

In [7]:
mmx_rwis = convert_raw_to_mmx(raw)
mmx_rwis_interpolated = interpolate_mmx(mmx_rwis, 20)
mmx_rwis_interpolated = create_patterns(mmx_rwis_interpolated)

Column id_p_weather can not be calculated
Column data_visibility can not be calculated
Column id_visibility can not be calculated
Column data_p_weather can not be calculated

In [9]:
mmcc_rwis = convert_mmx_to_mmcc_forecast(mmx_rwis_interpolated)
mmcc_rwis

Column visibility can not be calculated
Column p_weather can not be calculated

,date_time_metro,wind_direction,wind_speed,precipitation_type,station_id,t_air,humidity,pressure,t_dew_point,precipitation_intensity,visibility,date_time_utc,p_weather,cloudiness
19,2008-03-23 21:00 UTC,9999.000000,9999.0,9999.0,1821,-2.733333,97.975000,9999.000000,-2.925000,9999.0,9999,2008-03-23 21:00:00,9999,9999.0
20,2008-03-23 21:20 UTC,9999.000000,9999.0,9999.0,1821,-2.666667,98.050000,9999.000000,-2.850000,9999.0,9999,2008-03-23 21:20:00,9999,9999.0
21,2008-03-23 21:40 UTC,9999.000000,9999.0,9999.0,1821,-2.600000,98.125000,9999.000000,-2.775000,9999.0,9999,2008-03-23 21:40:00,9999,9999.0
22,2008-03-23 22:00 UTC,9999.000000,9999.0,9999.0,1821,-2.533333,98.200000,9999.000000,-2.700000,9999.0,9999,2008-03-23 22:00:00,9999,9999.0
23,2008-03-23 22:20 UTC,9999.000000,9999.0,9999.0,1821,-2.466667,98.275000,9999.000000,-2.625000,9999.0,9999,2008-03-23 22:20:00,9999,9999.0
24,2008-03-23 22:40 UTC,9999.000000,9999.0,9999.0,1821,-2.400000,98.350000,9999.000000,-2.550000,9999.0,9999,2008-03-23 22:40:00,9999,9999.0
25,2008-03-23 23:00 UTC,9999.000000,9999.0,9999.0,1821,-2.333333,98.425000,9999.000000,-2.475000,9999.0,9999,2008-03-23 23:00:00,9999,9999.0
26,2008-03-23 23:20 UTC,9999.000000,9999.0,9999.0,1821,-2.266667,98.500000,9999.000000,-2.400000,9999.0,9999,2008-03-23 23:20:00,9999,9999.0
27,2008-03-23 23:40 UTC,9999.000000,9999.0,9999.0,1821,-2.200000,98.575000,9999.000000,-2.325000,9999.0,9999,2008-03-23 23:40:00,9999,9999.0
28,2008-03-24 00:40 UTC,9999.000000,9999.0,9999.0,1821,-2.050000,98.575000,9999.000000,-2.175000,9999.0,9999,2008-03-24 00:40:00,9999,9999.0
29,2008-03-24 01:00 UTC,9999.000000,9999.0,9999.0,1821,-2.100000,98.350000,9999.000000,-2.250000,9999.0,9999,2008-03-24 01:00:00,9999,9999.0
30,2008-03-24 01:20 UTC,9999.000000,9999.0,9999.0,1821,-2.150000,98.125000,9999.000000,-2.325000,9999.0,9999,2008-03-24 01:20:00,9999,9999.0
31,2008-03-24 01:40 UTC,9999.000000,9999.0,9999.0,1821,-2.150000,98.375000,9999.000000,-2.300000,9999.0,9999,2008-03-24 01:40:00,9999,9999.0
32,2008-03-24 02:00 UTC,9999.000000,9999.0,9999.0,1821,-2.100000,98.850000,9999.000000,-2.200000,9999.0,9999,2008-03-24 02:00:00,9999,9999.0
33,2008-03-24 02:20 UTC,9999.000000,9999.0,9999.0,1821,-2.050000,99.325000,9999.000000,-2.100000,9999.0,9999,2008-03-24 02:20:00,9999,9999.0
34,2008-03-24 02:40 UTC,9999.000000,9999.0,9999.0,1821,-2.000000,99.725000,9999.000000,-2.000000,9999.0,9999,2008-03-24 02:40:00,9999,9999.0
35,2008-03-24 03:00 UTC,9999.000000,9999.0,9999.0,1821,-2.000000,99.650000,9999.000000,-2.000000,9999.0,9999,2008-03-24 03:00:00,9999,9999.0
36,2008-03-24 03:20 UTC,9999.000000,9999.0,9999.0,1821,-2.000000,99.575000,9999.000000,-2.000000,9999.0,9999,2008-03-24 03:20:00,9999,9999.0
37,2008-03-24 03:40 UTC,9999.000000,9999.0,9999.0,1821,-2.371429,98.628571,9999.000000,-2.500000,9999.0,9999,2008-03-24 03:40:00,9999,9999.0
38,2008-03-24 04:00 UTC,9999.000000,9999.0,9999.0,1821,-2.742857,97.757143,9999.000000,-3.000000,9999.0,9999,2008-03-24 04:00:00,9999,9999.0
39,2008-03-24 04:20 UTC,9999.000000,9999.0,9999.0,1821,-3.114286,96.885714,9999.000000,-3.500000,9999.0,9999,2008-03-24 04:20:00,9999,9999.0
40,2008-03-24 04:40 UTC,9999.000000,9999.0,9999.0,1821,-3.485714,96.014286,9999.000000,-4.000000,9999.0,9999,2008-03-24 04:40:00,9999,9999.0
41,2008-03-24 05:00 UTC,9999.000000,9999.0,9999.0,1821,-3.857143,95.142857,9999.000000,-4.500000,9999.0,9999,2008-03-24 05:00:00,9999,9999.0
42,2008-03-24 05:20 UTC,9999.000000,9999.0,9999.0,1821,-4.228571,94.271429,9999.000000,-5.000000,9999.0,9999,2008-03-24 05:20:00,9999,9999.0
43,2008-03-24 05:40 UTC,9999.000000,9999.0,9999.0,1821,-4.575000,93.525000,9999.000000,-5.450000,9999.0,9999,2008-03-24 05:40:00,9999,9999.0
44,2008-03-24 06:00 UTC,9999.000000,9999.0,9999.0,1821,-4.550000,93.650000,9999.000000,-5.400000,9999.0,9999,2008-03-24 06:00:00,9999,9999.0
45,2008-03-24 06:20 UTC,9999.000000,9999.0,9999.0,1821,-4.525000,93.775000,9999.000000,-5.350000,9999.0,9999,2008-03-24 06:20:00,9999,9999.0
46,2008-03-24 06:40 UTC,9999.000000,9999.0,9999.0,1821,-4.520000,93.920000,9999.000000,-5.320000,9999.0,9999,2008-03-24 06:40:00,9999,9999.0
47,2008-03-24 07:00 UTC,9999.000000,9999.0,9999.0,1821,-4.540000,93.940000,9999.000000,-5.340000,9999.0,9999,2008-03-24 07:00:00,9999,9999.0
48,2008-03-24 07:20 UTC,9999.000000,9999.0,9999.0,1821,-4.560000,93.960000,9999.000000,-5.360000,9999.0,9999,2008-03-24 07:20:00,9999,9999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201936,2016-03-11 02:00 UTC,270.000000,1.8,0.0,1821,-1.300000,96.500000,759.000000,-1.750000,0.0,9999,2016-03-11 02:00:00,9999,70.0
201937,2016-03-11 02:20 UTC,270.000000,1.8,0.0,1821,-1.300000,97.180000,759.000000,-1.680000,0.0,9999,2016-03-11 02:20:00,9999,70.0
201938,2016-03-11 02:40 UTC,270.000000,1.8,0.0,1821,-1.300000,97.460000,759.000000,-1.660000,0.0,9999,2016-03-11 02:40:00,9999,70.0
201939,2016-03-11 03:00 UTC,270.000000,1.8,0.0,1821,-1.300000,98.020000,759.000000,-1.620000,0.0,9999,2016-03-11 03:00:00,9999,80.0
201940,2016-03-11 03:20 UTC,270.000000,1.8,0.0,1821,-1.400000,98.566667,759.000000,-1.666667,0.0,9999,2016-03-11 03:20:00,9999,80.0
201941,2016-03-11 03:40 UTC,270.000000,1.8,0.0,1821,-1.500000,98.833333,759.000000,-1.733333,0.0,9999,2016-03-11 03:40:00,9999,70.0
201942,2016-03-11 04:00 UTC,270.000000,1.8,0.0,1821,-1.650000,99.550000,759.000000,-1.750000,0.0,9999,2016-03-11 04:00:00,9999,80.0
201943,2016-03-11 04:20 UTC,270.000000,1.8,0.0,1821,-1.700000,100.000000,759.000000,-1.700000,0.0,9999,2016-03-11 04:20:00,9999,80.0
201944,2016-03-11 04:40 UTC,270.000000,1.8,0.0,1821,-1.700000,100.000000,759.000000,-1.700000,0.0,9999,2016-03-11 04:40:00,9999,70.0
201945,2016-03-11 05:00 UTC,180.000000,1.8,0.0,1821,-1.650000,100.000000,759.000000,-1.650000,0.0,9999,2016-03-11 05:00:00,9999,70.0
201946,2016-03-11 05:20 UTC,135.000000,1.8,0.0,1821,-1.466667,99.866667,759.000000,-1.500000,0.0,9999,2016-03-11 05:20:00,9999,70.0
201947,2016-03-11 05:40 UTC,180.000000,1.8,0.0,1821,-1.333333,99.733333,759.000000,-1.400000,0.0,9999,2016-03-11 05:40:00,9999,70.0
201948,2016-03-11 06:00 UTC,247.500000,1.8,0.0,1821,-1.050000,99.000000,759.000000,-1.200000,0.0,9999,2016-03-11 06:00:00,9999,70.0
201949,2016-03-11 06:20 UTC,270.000000,1.8,0.0,1821,-0.733333,97.966667,759.000000,-1.000000,0.0,9999,2016-03-11 06:20:00,9999,70.0
201950,2016-03-11 06:40 UTC,270.000000,1.8,0.0,1821,-0.566667,97.533333,759.000000,-0.900000,0.0,9999,2016-03-11 06:40:00,9999,80.0
201951,2016-03-11 07:00 UTC,270.000000,1.8,0.0,1821,-0.200000,96.050000,759.000000,-0.700000,0.0,9999,2016-03-11 07:00:00,9999,60.0
201952,2016-03-11 07:20 UTC,255.000000,1.8,0.0,1821,0.166667,94.166667,759.000000,-0.566667,0.0,9999,2016-03-11 07:20:00,9999,50.0
201953,2016-03-11 07:40 UTC,240.000000,1.8,0.0,1821,0.333333,93.333333,759.000000,-0.533333,0.0,9999,2016-03-11 07:40:00,9999,60.0
201954,2016-03-11 08:00 UTC,225.000000,1.8,0.0,1821,0.700000,91.600000,759.000000,-0.450000,0.0,9999,2016-03-11 08:00:00,9999,60.0
201955,2016-03-11 08:20 UTC,225.000000,1.8,0.0,1821,1.366667,87.666667,759.000000,-0.433333,0.0,9999,2016-03-11 08:20:00,9999,60.0
201956,2016-03-11 08:40 UTC,225.000000,1.8,0.0,1821,1.833333,84.633333,759.000000,-0.466667,0.0,9999,2016-03-11 08:40:00,9999,70.0
201957,2016-03-11 09:00 UTC,224.916859,1.8,9999.0,1821,2.300000,81.600000,758.931594,-0.500000,0.0,9999,2016-03-11 09:00:00,9999,70.0
201958,2016-03-11 09:20 UTC,224.833718,1.8,9999.0,1821,2.300000,81.600000,758.863187,-0.500000,0.0,9999,2016-03-11 09:20:00,9999,70.0
201959,2016-03-11 09:40 UTC,224.750577,1.8,9999.0,1821,2.300000,81.600000,758.794781,-0.500000,0.0,9999,2016-03-11 09:40:00,9999,70.0
201960,2016-03-11 10:00 UTC,224.667436,1.8,9999.0,1821,2.300000,81.600000,758.726374,-0.500000,0.0,9999,2016-03-11 10:00:00,9999,70.0
201961,2016-03-11 10:20 UTC,224.584296,1.8,9999.0,1821,2.300000,81.600000,758.657968,-0.500000,0.0,9999,2016-03-11 10:20:00,9999,70.0
201962,2016-03-11 10:40 UTC,224.501155,1.8,9999.0,1821,2.300000,81.600000,758.589561,-0.500000,0.0,9999,2016-03-11 10:40:00,9999,70.0
201963,2016-03-11 11:00 UTC,224.418014,1.8,9999.0,1821,2.300000,81.600000,758.521155,-0.500000,0.0,9999,2016-03-11 11:00:00,9999,70.0
201964,2016-03-11 11:20 UTC,224.334873,1.8,9999.0,1821,2.300000,81.600000,758.452748,-0.500000,0.0,9999,2016-03-11 11:20:00,9999,70.0
201965,2016-03-11 11:40 UTC,224.251732,1.8,9999.0,1821,2.300000,81.600000,758.384342,-0.500000,0.0,9999,2016-03-11 11:40:00,9999,70.0