In [1]:
import json
import numpy as np
import pandas as pd
from copy import copy
import sys
sys.path.append('/home/ndsviriden/MinMax94/src/utils') 
from constants import RUSSIAN_TIME_ZONES, rp5_columns
from interpolation import interpolate_mmx, create_patterns
from converters import convert_rp5_to_mmx, convert_raw_to_mmx, convert_mmx_to_mmcc_forecast, convert_raw_to_mmx
from loaders import load_rp5_stations, load_mm94_stations
from geographical import find_nearest_wmo_station, add_solar_angles

## Convert RP5 to Mmx

* Choose one mm94 station and finding the closeat wmo station

In [2]:
## find nearest wmo station
mm94_station_id = 113

wmo_station_id = find_nearest_wmo_station(mm94_station_id)

* Load data from the nearest wmo station

In [3]:
rp5 = load_rp5_stations(wmo_station_id)

* Convert from RP5 to Mmx format

In [5]:
mmx_forecast = convert_rp5_to_mmx(rp5)
mmx_forecast_interpolated = interpolate_mmx(mmx_forecast, 20)
#mmx_forecast_interpolated

* Convert from Mmx to MmccForecast format

In [5]:
mmcc_forecast = convert_mmx_to_mmcc_forecast(mmx_forecast_interpolated)

## Convert Raw to Mmx

* Load Raw mm94 data

In [19]:
%%time
raw = load_mm94_stations(mm94_station_id)
raw.head()

CPU times: user 945 ms, sys: 71.7 ms, total: 1.02 s
Wall time: 1.08 s

* Convert Raw to Mmx

In [20]:
mmx_rwis = convert_raw_to_mmx(raw)
mmx_rwis_interpolated = interpolate_mmx(mmx_rwis, 20)
mmx_rwis_interpolated = create_patterns(mmx_rwis_interpolated)

In [9]:
mmcc_rwis = convert_mmx_to_mmcc_forecast(mmx_rwis_interpolated)
mmcc_rwis

Column visibility can not be calculated
Column p_weather can not be calculated

,date_time_metro,wind_direction,wind_speed,precipitation_type,station_id,t_air,humidity,pressure,t_dew_point,precipitation_intensity,visibility,date_time_utc,p_weather,cloudiness
19,2008-03-23 21:00 UTC,9999.000000,9999.0,9999.0,1821,-2.733333,97.975000,9999.000000,-2.925000,9999.0,9999,2008-03-23 21:00:00,9999,9999.0
20,2008-03-23 21:20 UTC,9999.000000,9999.0,9999.0,1821,-2.666667,98.050000,9999.000000,-2.850000,9999.0,9999,2008-03-23 21:20:00,9999,9999.0
21,2008-03-23 21:40 UTC,9999.000000,9999.0,9999.0,1821,-2.600000,98.125000,9999.000000,-2.775000,9999.0,9999,2008-03-23 21:40:00,9999,9999.0
22,2008-03-23 22:00 UTC,9999.000000,9999.0,9999.0,1821,-2.533333,98.200000,9999.000000,-2.700000,9999.0,9999,2008-03-23 22:00:00,9999,9999.0
23,2008-03-23 22:20 UTC,9999.000000,9999.0,9999.0,1821,-2.466667,98.275000,9999.000000,-2.625000,9999.0,9999,2008-03-23 22:20:00,9999,9999.0
24,2008-03-23 22:40 UTC,9999.000000,9999.0,9999.0,1821,-2.400000,98.350000,9999.000000,-2.550000,9999.0,9999,2008-03-23 22:40:00,9999,9999.0
25,2008-03-23 23:00 UTC,9999.000000,9999.0,9999.0,1821,-2.333333,98.425000,9999.000000,-2.475000,9999.0,9999,2008-03-23 23:00:00,9999,9999.0
26,2008-03-23 23:20 UTC,9999.000000,9999.0,9999.0,1821,-2.266667,98.500000,9999.000000,-2.400000,9999.0,9999,2008-03-23 23:20:00,9999,9999.0
27,2008-03-23 23:40 UTC,9999.000000,9999.0,9999.0,1821,-2.200000,98.575000,9999.000000,-2.325000,9999.0,9999,2008-03-23 23:40:00,9999,9999.0
28,2008-03-24 00:40 UTC,9999.000000,9999.0,9999.0,1821,-2.050000,98.575000,9999.000000,-2.175000,9999.0,9999,2008-03-24 00:40:00,9999,9999.0
29,2008-03-24 01:00 UTC,9999.000000,9999.0,9999.0,1821,-2.100000,98.350000,9999.000000,-2.250000,9999.0,9999,2008-03-24 01:00:00,9999,9999.0
30,2008-03-24 01:20 UTC,9999.000000,9999.0,9999.0,1821,-2.150000,98.125000,9999.000000,-2.325000,9999.0,9999,2008-03-24 01:20:00,9999,9999.0
31,2008-03-24 01:40 UTC,9999.000000,9999.0,9999.0,1821,-2.150000,98.375000,9999.000000,-2.300000,9999.0,9999,2008-03-24 01:40:00,9999,9999.0
32,2008-03-24 02:00 UTC,9999.000000,9999.0,9999.0,1821,-2.100000,98.850000,9999.000000,-2.200000,9999.0,9999,2008-03-24 02:00:00,9999,9999.0
33,2008-03-24 02:20 UTC,9999.000000,9999.0,9999.0,1821,-2.050000,99.325000,9999.000000,-2.100000,9999.0,9999,2008-03-24 02:20:00,9999,9999.0
34,2008-03-24 02:40 UTC,9999.000000,9999.0,9999.0,1821,-2.000000,99.725000,9999.000000,-2.000000,9999.0,9999,2008-03-24 02:40:00,9999,9999.0
35,2008-03-24 03:00 UTC,9999.000000,9999.0,9999.0,1821,-2.000000,99.650000,9999.000000,-2.000000,9999.0,9999,2008-03-24 03:00:00,9999,9999.0
36,2008-03-24 03:20 UTC,9999.000000,9999.0,9999.0,1821,-2.000000,99.575000,9999.000000,-2.000000,9999.0,9999,2008-03-24 03:20:00,9999,9999.0
37,2008-03-24 03:40 UTC,9999.000000,9999.0,9999.0,1821,-2.371429,98.628571,9999.000000,-2.500000,9999.0,9999,2008-03-24 03:40:00,9999,9999.0
38,2008-03-24 04:00 UTC,9999.000000,9999.0,9999.0,1821,-2.742857,97.757143,9999.000000,-3.000000,9999.0,9999,2008-03-24 04:00:00,9999,9999.0
39,2008-03-24 04:20 UTC,9999.000000,9999.0,9999.0,1821,-3.114286,96.885714,9999.000000,-3.500000,9999.0,9999,2008-03-24 04:20:00,9999,9999.0
40,2008-03-24 04:40 UTC,9999.000000,9999.0,9999.0,1821,-3.485714,96.014286,9999.000000,-4.000000,9999.0,9999,2008-03-24 04:40:00,9999,9999.0
41,2008-03-24 05:00 UTC,9999.000000,9999.0,9999.0,1821,-3.857143,95.142857,9999.000000,-4.500000,9999.0,9999,2008-03-24 05:00:00,9999,9999.0
42,2008-03-24 05:20 UTC,9999.000000,9999.0,9999.0,1821,-4.228571,94.271429,9999.000000,-5.000000,9999.0,9999,2008-03-24 05:20:00,9999,9999.0
43,2008-03-24 05:40 UTC,9999.000000,9999.0,9999.0,1821,-4.575000,93.525000,9999.000000,-5.450000,9999.0,9999,2008-03-24 05:40:00,9999,9999.0
44,2008-03-24 06:00 UTC,9999.000000,9999.0,9999.0,1821,-4.550000,93.650000,9999.000000,-5.400000,9999.0,9999,2008-03-24 06:00:00,9999,9999.0
45,2008-03-24 06:20 UTC,9999.000000,9999.0,9999.0,1821,-4.525000,93.775000,9999.000000,-5.350000,9999.0,9999,2008-03-24 06:20:00,9999,9999.0
46,2008-03-24 06:40 UTC,9999.000000,9999.0,9999.0,1821,-4.520000,93.920000,9999.000000,-5.320000,9999.0,9999,2008-03-24 06:40:00,9999,9999.0
47,2008-03-24 07:00 UTC,9999.000000,9999.0,9999.0,1821,-4.540000,93.940000,9999.000000,-5.340000,9999.0,9999,2008-03-24 07:00:00,9999,9999.0
48,2008-03-24 07:20 UTC,9999.000000,9999.0,9999.0,1821,-4.560000,93.960000,9999.000000,-5.360000,9999.0,9999,2008-03-24 07:20:00,9999,9999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201936,2016-03-11 02:00 UTC,270.000000,1.8,0.0,1821,-1.300000,96.500000,759.000000,-1.750000,0.0,9999,2016-03-11 02:00:00,9999,70.0
201937,2016-03-11 02:20 UTC,270.000000,1.8,0.0,1821,-1.300000,97.180000,759.000000,-1.680000,0.0,9999,2016-03-11 02:20:00,9999,70.0
201938,2016-03-11 02:40 UTC,270.000000,1.8,0.0,1821,-1.300000,97.460000,759.000000,-1.660000,0.0,9999,2016-03-11 02:40:00,9999,70.0
201939,2016-03-11 03:00 UTC,270.000000,1.8,0.0,1821,-1.300000,98.020000,759.000000,-1.620000,0.0,9999,2016-03-11 03:00:00,9999,80.0
201940,2016-03-11 03:20 UTC,270.000000,1.8,0.0,1821,-1.400000,98.566667,759.000000,-1.666667,0.0,9999,2016-03-11 03:20:00,9999,80.0
201941,2016-03-11 03:40 UTC,270.000000,1.8,0.0,1821,-1.500000,98.833333,759.000000,-1.733333,0.0,9999,2016-03-11 03:40:00,9999,70.0
201942,2016-03-11 04:00 UTC,270.000000,1.8,0.0,1821,-1.650000,99.550000,759.000000,-1.750000,0.0,9999,2016-03-11 04:00:00,9999,80.0
201943,2016-03-11 04:20 UTC,270.000000,1.8,0.0,1821,-1.700000,100.000000,759.000000,-1.700000,0.0,9999,2016-03-11 04:20:00,9999,80.0
201944,2016-03-11 04:40 UTC,270.000000,1.8,0.0,1821,-1.700000,100.000000,759.000000,-1.700000,0.0,9999,2016-03-11 04:40:00,9999,70.0
201945,2016-03-11 05:00 UTC,180.000000,1.8,0.0,1821,-1.650000,100.000000,759.000000,-1.650000,0.0,9999,2016-03-11 05:00:00,9999,70.0
201946,2016-03-11 05:20 UTC,135.000000,1.8,0.0,1821,-1.466667,99.866667,759.000000,-1.500000,0.0,9999,2016-03-11 05:20:00,9999,70.0
201947,2016-03-11 05:40 UTC,180.000000,1.8,0.0,1821,-1.333333,99.733333,759.000000,-1.400000,0.0,9999,2016-03-11 05:40:00,9999,70.0
201948,2016-03-11 06:00 UTC,247.500000,1.8,0.0,1821,-1.050000,99.000000,759.000000,-1.200000,0.0,9999,2016-03-11 06:00:00,9999,70.0
201949,2016-03-11 06:20 UTC,270.000000,1.8,0.0,1821,-0.733333,97.966667,759.000000,-1.000000,0.0,9999,2016-03-11 06:20:00,9999,70.0
201950,2016-03-11 06:40 UTC,270.000000,1.8,0.0,1821,-0.566667,97.533333,759.000000,-0.900000,0.0,9999,2016-03-11 06:40:00,9999,80.0
201951,2016-03-11 07:00 UTC,270.000000,1.8,0.0,1821,-0.200000,96.050000,759.000000,-0.700000,0.0,9999,2016-03-11 07:00:00,9999,60.0
201952,2016-03-11 07:20 UTC,255.000000,1.8,0.0,1821,0.166667,94.166667,759.000000,-0.566667,0.0,9999,2016-03-11 07:20:00,9999,50.0
201953,2016-03-11 07:40 UTC,240.000000,1.8,0.0,1821,0.333333,93.333333,759.000000,-0.533333,0.0,9999,2016-03-11 07:40:00,9999,60.0
201954,2016-03-11 08:00 UTC,225.000000,1.8,0.0,1821,0.700000,91.600000,759.000000,-0.450000,0.0,9999,2016-03-11 08:00:00,9999,60.0
201955,2016-03-11 08:20 UTC,225.000000,1.8,0.0,1821,1.366667,87.666667,759.000000,-0.433333,0.0,9999,2016-03-11 08:20:00,9999,60.0
201956,2016-03-11 08:40 UTC,225.000000,1.8,0.0,1821,1.833333,84.633333,759.000000,-0.466667,0.0,9999,2016-03-11 08:40:00,9999,70.0
201957,2016-03-11 09:00 UTC,224.916859,1.8,9999.0,1821,2.300000,81.600000,758.931594,-0.500000,0.0,9999,2016-03-11 09:00:00,9999,70.0
201958,2016-03-11 09:20 UTC,224.833718,1.8,9999.0,1821,2.300000,81.600000,758.863187,-0.500000,0.0,9999,2016-03-11 09:20:00,9999,70.0
201959,2016-03-11 09:40 UTC,224.750577,1.8,9999.0,1821,2.300000,81.600000,758.794781,-0.500000,0.0,9999,2016-03-11 09:40:00,9999,70.0
201960,2016-03-11 10:00 UTC,224.667436,1.8,9999.0,1821,2.300000,81.600000,758.726374,-0.500000,0.0,9999,2016-03-11 10:00:00,9999,70.0
201961,2016-03-11 10:20 UTC,224.584296,1.8,9999.0,1821,2.300000,81.600000,758.657968,-0.500000,0.0,9999,2016-03-11 10:20:00,9999,70.0
201962,2016-03-11 10:40 UTC,224.501155,1.8,9999.0,1821,2.300000,81.600000,758.589561,-0.500000,0.0,9999,2016-03-11 10:40:00,9999,70.0
201963,2016-03-11 11:00 UTC,224.418014,1.8,9999.0,1821,2.300000,81.600000,758.521155,-0.500000,0.0,9999,2016-03-11 11:00:00,9999,70.0
201964,2016-03-11 11:20 UTC,224.334873,1.8,9999.0,1821,2.300000,81.600000,758.452748,-0.500000,0.0,9999,2016-03-11 11:20:00,9999,70.0
201965,2016-03-11 11:40 UTC,224.251732,1.8,9999.0,1821,2.300000,81.600000,758.384342,-0.500000,0.0,9999,2016-03-11 11:40:00,9999,70.0