In [1]:
import pandas as pd
import numpy as np
import csv
from copy import deepcopy
from pandas import datetime
from copy import deepcopy
import gc
import random
import datetime
import csv
from copy import deepcopy
from os import listdir
from os.path import isfile, join, isdir
from tqdm import tqdm_notebook
from Downloader import Extractor
from Preprocessing import Preprocessor, set_onelevel, set_multilevel
from Filters import XGB_Quantile
from Filters import quantile_huber_loss, quantile_huber_obj 
import pickle
import xgboost as xgb
from Solar import AddSolarAngles
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

## Loading Data

In [2]:
# getting file tree in directory "data_csv", which contains raw unfiltered data
mypath = '/home/ndsviriden/data_csv/Raw'
dateparse = pd.to_datetime
station_files = [f for f in listdir(mypath) if isfile(join(mypath, f)) if int(f.split('_', 1)[0])]
station_files.sort()

# reading loaded csv files from data_csv directory, output is a list (length=number of stations) of raw df 
raw_lmeteo_list = [pd.read_csv(mypath + '/' + station, index_col=0, 
                    dtype={'station_id': int,'date_time': str}, 
                    date_parser = dateparse, parse_dates = ['date_time']) 
                   for station in tqdm_notebook(station_files[:50])]

#fix problems with indexing, later this will be solved in loading part
for elem in raw_lmeteo_list:
    elem.reset_index(drop=True, inplace=True)

raw_data = pd.concat(raw_lmeteo_list)
raw_data['id'] = random.sample(range(len(raw_data)), len(raw_data))
raw_data['valid'] = True
raw_data = raw_data.reset_index(drop=True)

del raw_lmeteo_list
gc.collect()

raw_data

,station_data_id,sensor_id,data,station_id,sensor_type_id,active_state,name,rule_id,rule_ordr,direction,lane_traffic,date_time,poll_interval,fake_data,type,unit_of_measure,description,id,valid
0,7137045.0,6032.0,7357.0,113,16.0,A,NaN,152.0,36.0,0.0,0.0,2012-09-17 18:01:48,NaN,NaN,pressure,NaN,pressure (sw),7308638,True
1,7137045.0,6021.0,140.0,113,2.0,A,NaN,154.0,14.0,0.0,0.0,2012-09-17 18:01:48,NaN,NaN,t_road,NaN,t_road (sw),12910059,True
2,7137045.0,6020.0,136.0,113,1.0,A,NaN,4.0,12.0,0.0,0.0,2012-09-17 18:01:48,NaN,NaN,t_air,NaN,t_air (sw),9336779,True
3,7137045.0,6022.0,140.0,113,3.0,A,NaN,155.0,16.0,0.0,0.0,2012-09-17 18:01:48,NaN,NaN,t_underroad,NaN,t_underroad (sw),8739149,True
4,7137045.0,6023.0,831.0,113,4.0,A,NaN,6.0,18.0,0.0,0.0,2012-09-17 18:01:48,NaN,NaN,dampness,NaN,dampness (sw),1223262,True
5,7137243.0,6032.0,7398.0,113,16.0,A,NaN,152.0,36.0,0.0,0.0,2012-09-18 14:33:21,NaN,NaN,pressure,NaN,pressure (sw),5406387,True
6,7137243.0,6021.0,194.0,113,2.0,A,NaN,154.0,14.0,0.0,0.0,2012-09-18 14:33:21,NaN,NaN,t_road,NaN,t_road (sw),6615481,True
7,7137243.0,6020.0,156.0,113,1.0,A,NaN,4.0,12.0,0.0,0.0,2012-09-18 14:33:21,NaN,NaN,t_air,NaN,t_air (sw),7790392,True
8,7137243.0,6022.0,187.0,113,3.0,A,NaN,155.0,16.0,0.0,0.0,2012-09-18 14:33:21,NaN,NaN,t_underroad,NaN,t_underroad (sw),12434628,True
9,7137243.0,6023.0,664.0,113,4.0,A,NaN,6.0,18.0,0.0,0.0,2012-09-18 14:33:21,NaN,NaN,dampness,NaN,dampness (sw),13258695,True
10,7137898.0,6032.0,7398.0,113,16.0,A,NaN,152.0,36.0,0.0,0.0,2012-09-18 16:02:38,NaN,NaN,pressure,NaN,pressure (sw),2884101,True
11,7137898.0,6021.0,200.0,113,2.0,A,NaN,154.0,14.0,0.0,0.0,2012-09-18 16:02:38,NaN,NaN,t_road,NaN,t_road (sw),11801316,True
12,7137898.0,6020.0,157.0,113,1.0,A,NaN,4.0,12.0,0.0,0.0,2012-09-18 16:02:38,NaN,NaN,t_air,NaN,t_air (sw),451079,True
13,7137898.0,6022.0,187.0,113,3.0,A,NaN,155.0,16.0,0.0,0.0,2012-09-18 16:02:38,NaN,NaN,t_underroad,NaN,t_underroad (sw),5456237,True
14,7137898.0,6023.0,646.0,113,4.0,A,NaN,6.0,18.0,0.0,0.0,2012-09-18 16:02:38,NaN,NaN,dampness,NaN,dampness (sw),10060040,True
15,7138386.0,6032.0,7398.0,113,16.0,A,NaN,152.0,36.0,0.0,0.0,2012-09-18 17:03:11,NaN,NaN,pressure,NaN,pressure (sw),13700038,True
16,7138386.0,6021.0,194.0,113,2.0,A,NaN,154.0,14.0,0.0,0.0,2012-09-18 17:03:11,NaN,NaN,t_road,NaN,t_road (sw),10160738,True
17,7138386.0,6020.0,152.0,113,1.0,A,NaN,4.0,12.0,0.0,0.0,2012-09-18 17:03:11,NaN,NaN,t_air,NaN,t_air (sw),1550647,True
18,7138386.0,6022.0,181.0,113,3.0,A,NaN,155.0,16.0,0.0,0.0,2012-09-18 17:03:11,NaN,NaN,t_underroad,NaN,t_underroad (sw),1358431,True
19,7138386.0,6023.0,674.0,113,4.0,A,NaN,6.0,18.0,0.0,0.0,2012-09-18 17:03:11,NaN,NaN,dampness,NaN,dampness (sw),16697042,True
20,7138602.0,6032.0,7406.0,113,16.0,A,NaN,152.0,36.0,0.0,0.0,2012-09-18 17:32:17,NaN,NaN,pressure,NaN,pressure (sw),7021705,True
21,7138602.0,6021.0,190.0,113,2.0,A,NaN,154.0,14.0,0.0,0.0,2012-09-18 17:32:17,NaN,NaN,t_road,NaN,t_road (sw),15441577,True
22,7138602.0,6020.0,147.0,113,1.0,A,NaN,4.0,12.0,0.0,0.0,2012-09-18 17:32:17,NaN,NaN,t_air,NaN,t_air (sw),11439064,True
23,7138602.0,6022.0,177.0,113,3.0,A,NaN,155.0,16.0,0.0,0.0,2012-09-18 17:32:17,NaN,NaN,t_underroad,NaN,t_underroad (sw),12419211,True
24,7138602.0,6023.0,692.0,113,4.0,A,NaN,6.0,18.0,0.0,0.0,2012-09-18 17:32:17,NaN,NaN,dampness,NaN,dampness (sw),8460210,True
25,7139053.0,6032.0,7406.0,113,16.0,A,NaN,152.0,36.0,0.0,0.0,2012-09-18 18:32:58,NaN,NaN,pressure,NaN,pressure (sw),9517786,True
26,7139053.0,6021.0,141.0,113,2.0,A,NaN,154.0,14.0,0.0,0.0,2012-09-18 18:32:58,NaN,NaN,t_road,NaN,t_road (sw),5949890,True
27,7139053.0,6020.0,135.0,113,1.0,A,NaN,4.0,12.0,0.0,0.0,2012-09-18 18:32:58,NaN,NaN,t_air,NaN,t_air (sw),6748758,True
28,7139053.0,6022.0,145.0,113,3.0,A,NaN,155.0,16.0,0.0,0.0,2012-09-18 18:32:58,NaN,NaN,t_underroad,NaN,t_underroad (sw),13238265,True
29,7139053.0,6023.0,764.0,113,4.0,A,NaN,6.0,18.0,0.0,0.0,2012-09-18 18:32:58,NaN,NaN,dampness,NaN,dampness (sw),4425353,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16820543,66167100.0,6464.0,202.0,615,3.0,A,NaN,155.0,31.0,0.0,0.0,2016-07-13 03:50:40,NaN,NaN,t_underroad,NaN,t_underroad (sw),10281306,True
16820544,66167100.0,6462.0,189.0,615,1.0,A,NaN,4.0,23.0,0.0,0.0,2016-07-13 03:50:40,NaN,NaN,t_air,NaN,t_air (sw),987594,True
16820545,66167100.0,6463.0,198.0,615,2.0,A,NaN,154.0,27.0,0.0,0.0,2016-07-13 03:50:40,NaN,NaN,t_road,NaN,t_road (sw),10872741,True
16820546,66167100.0,6465.0,1000.0,615,4.0,A,NaN,6.0,35.0,0.0,0.0,2016-07-13 03:50:40,NaN,NaN,dampness,NaN,dampness (sw),11245456,True
16820547,66167100.0,6474.0,745.0,615,16.0,A,NaN,152.0,59.0,0.0,0.0,2016-07-13 03:50:40,NaN,NaN,pressure,NaN,pressure (sw),13436751,True
16820548,66168166.0,6462.0,192.0,615,1.0,A,NaN,4.0,23.0,0.0,0.0,2016-07-13 04:21:11,NaN,NaN,t_air,NaN,t_air (sw),7071468,True
16820549,66168166.0,6464.0,202.0,615,3.0,A,NaN,155.0,31.0,0.0,0.0,2016-07-13 04:21:11,NaN,NaN,t_underroad,NaN,t_underroad (sw),7319089,True
16820550,66168166.0,6465.0,1000.0,615,4.0,A,NaN,6.0,35.0,0.0,0.0,2016-07-13 04:21:11,NaN,NaN,dampness,NaN,dampness (sw),2472225,True
16820551,66168166.0,6463.0,198.0,615,2.0,A,NaN,154.0,27.0,0.0,0.0,2016-07-13 04:21:11,NaN,NaN,t_road,NaN,t_road (sw),12115261,True
16820552,66168166.0,6474.0,745.0,615,16.0,A,NaN,152.0,59.0,0.0,0.0,2016-07-13 04:21:11,NaN,NaN,pressure,NaN,pressure (sw),15599276,True
16820553,66168272.0,6474.0,745.0,615,16.0,A,NaN,152.0,59.0,0.0,0.0,2016-07-13 04:24:29,NaN,NaN,pressure,NaN,pressure (sw),14191238,True
16820554,66168272.0,6464.0,202.0,615,3.0,A,NaN,155.0,31.0,0.0,0.0,2016-07-13 04:24:29,NaN,NaN,t_underroad,NaN,t_underroad (sw),4614960,True
16820555,66168272.0,6462.0,191.0,615,1.0,A,NaN,4.0,23.0,0.0,0.0,2016-07-13 04:24:29,NaN,NaN,t_air,NaN,t_air (sw),704779,True
16820556,66168272.0,6465.0,1000.0,615,4.0,A,NaN,6.0,35.0,0.0,0.0,2016-07-13 04:24:29,NaN,NaN,dampness,NaN,dampness (sw),5314058,True
16820557,66168272.0,6463.0,198.0,615,2.0,A,NaN,154.0,27.0,0.0,0.0,2016-07-13 04:24:29,NaN,NaN,t_road,NaN,t_road (sw),14845886,True
16820558,66169303.0,6463.0,199.0,615,2.0,A,NaN,154.0,27.0,0.0,0.0,2016-07-13 04:54:50,NaN,NaN,t_road,NaN,t_road (sw),3367286,True
16820559,66169303.0,6464.0,204.0,615,3.0,A,NaN,155.0,31.0,0.0,0.0,2016-07-13 04:54:50,NaN,NaN,t_underroad,NaN,t_underroad (sw),2936624,True
16820560,66169303.0,6465.0,1000.0,615,4.0,A,NaN,6.0,35.0,0.0,0.0,2016-07-13 04:54:50,NaN,NaN,dampness,NaN,dampness (sw),4904611,True
16820561,66169303.0,6474.0,745.0,615,16.0,A,NaN,152.0,59.0,0.0,0.0,2016-07-13 04:54:50,NaN,NaN,pressure,NaN,pressure (sw),4765747,True
16820562,66169303.0,6462.0,193.0,615,1.0,A,NaN,4.0,23.0,0.0,0.0,2016-07-13 04:54:50,NaN,NaN,t_air,NaN,t_air (sw),14939358,True
16820563,66170364.0,6465.0,1000.0,615,4.0,A,NaN,6.0,35.0,0.0,0.0,2016-07-13 05:25:25,NaN,NaN,dampness,NaN,dampness (sw),7711009,True
16820564,66170364.0,6474.0,745.0,615,16.0,A,NaN,152.0,59.0,0.0,0.0,2016-07-13 05:25:25,NaN,NaN,pressure,NaN,pressure (sw),6366350,True
16820565,66170364.0,6464.0,204.0,615,3.0,A,NaN,155.0,31.0,0.0,0.0,2016-07-13 05:25:25,NaN,NaN,t_underroad,NaN,t_underroad (sw),5607859,True
16820566,66170364.0,6462.0,198.0,615,1.0,A,NaN,4.0,23.0,0.0,0.0,2016-07-13 05:25:25,NaN,NaN,t_air,NaN,t_air (sw),13250594,True
16820567,66170364.0,6463.0,200.0,615,2.0,A,NaN,154.0,27.0,0.0,0.0,2016-07-13 05:25:25,NaN,NaN,t_road,NaN,t_road (sw),14960465,True
16820568,66171380.0,6462.0,204.0,615,1.0,A,NaN,4.0,23.0,0.0,0.0,2016-07-13 05:55:52,NaN,NaN,t_air,NaN,t_air (sw),16464459,True
16820569,66171380.0,6463.0,204.0,615,2.0,A,NaN,154.0,27.0,0.0,0.0,2016-07-13 05:55:52,NaN,NaN,t_road,NaN,t_road (sw),11505360,True
16820570,66171380.0,6474.0,745.0,615,16.0,A,NaN,152.0,59.0,0.0,0.0,2016-07-13 05:55:52,NaN,NaN,pressure,NaN,pressure (sw),14534883,True
16820571,66171380.0,6465.0,1000.0,615,4.0,A,NaN,6.0,35.0,0.0,0.0,2016-07-13 05:55:52,NaN,NaN,dampness,NaN,dampness (sw),5370412,True
16820572,66171380.0,6464.0,203.0,615,3.0,A,NaN,155.0,31.0,0.0,0.0,2016-07-13 05:55:52,NaN,NaN,t_underroad,NaN,t_underroad (sw),14448590,True

In [3]:
time_gap = pd.Timedelta('5d')
preprocessor = Preprocessor()
meteo_split = preprocessor.PivotTable(raw_data)
meteo_split = preprocessor.FixPressureScale(meteo_split)
patterns_list = preprocessor.CreatePatternList(meteo_split, max_gap=time_gap)

In [159]:
test = deepcopy(patterns_list[3])
mask = test.date_time >= pd.Timestamp(2016, 1, 1)
test[('data', 'pressure')][mask] = np.nan
test[('data', 't_air')].iloc[10:25] = np.nan
test[('data', 't_air')].iloc[35:45] = np.nan
print(len(test))

63935

In [176]:
z = pd.concat((test.date_time, test.data['t_air']), axis=1)
z.index.diff()

AttributeError: 'Int64Index' object has no attribute 'diff'

In [172]:
def round_30min(time):
    return datetime.datetime(time.year, time.month, time.day, time.hour, time.minute - time.minute % 30, 0)

def make_grid(df):
    df_result = deepcopy(df)
    start = round_30min(df_result.date_time.min())
    end = round_30min(df_result.date_time.max())

    df_add = pd.DataFrame(pd.date_range(start=start, end=end, freq='30min'),
                          columns=pd.MultiIndex.from_tuples([('date_time', '')]))
    
    df_add[('station_id', '')] = df_result.station_id.unique()[0]

    # adding a new column, so that we can define, which data is original and which is interpolated
    df_result[('interpol', '')] = False
    df_add[('interpol', '')] = True

    # Merging 2 tables
    df_result = pd.merge(df_result, df_add, how='outer',
                         on=['date_time', 'interpol', 'station_id'])

    df_result.valid = True
    df_result = df_result.set_index('date_time')
    df_result = df_result.sort_index()
    #df_result = df_result.reset_index(drop=False)
    return df_result
    

def interpolate(pattern, limit=pd.Timedelta('2h')):
    df_result = deepcopy(pattern)
    df_result = df_result.reset_index()
    df_result['time_delta'] = df_result.date_time.diff()
    for sensor in test.data.columns:
        df = pd.concat((df_result.date_time, df_result.time_delta, df_result.data[sensor]), axis=1)
        df['group'] = (df[sensor].notnull() != df[sensor].shift().notnull()).cumsum() #consecutive nan/not nan
        df['consecutive'] = (df[sensor].notnull() != df[sensor].shift(-1).notnull()).apply(lambda x: float(x))
        df['gap'] = df[sensor].isnull() * df['date_time'][df['consecutive']==1].diff()
        df['gap'][df['gap'].isnull()] = 0
        groups_to_consider = list(df['group'][df['gap'] > limit].values)
        mask = df['group'].isin(groups_to_consider)
        df['gap'][mask] = df[mask].groupby('group')['time_delta'].apply(lambda g: g.cumsum())
        
        df = df.set_index('date_time')
        mask = df['gap'] <= limit
        df[sensor][mask] = df[sensor].interpolate(method='time')[mask]
        df = df.reset_index()
        if sensor=='t_air':
            z = df
            
        #mask = df['group_diff'] <= limit
        #df[sensor][mask] = df[sensor].interpolate(method='time')[mask]
        #df_result[('data', sensor)] = deepcopy(df[sensor])
    #del df_result['time_delta']
    #return df_result
    return z

In [173]:
%%time
z = interpolate(make_grid(test))
#x = z['group'].value_counts()
#groups_to_use = list(x[x > 2].index.values)
#z[z['group'].isin(groups_to_use)]

CPU times: user 6.2 s, sys: 108 ms, total: 6.31 s
Wall time: 6.4 s

In [153]:
pd.set_option("display.max_rows",200)
display(z)

,date_time,time_delta,t_air,group,consecutive,gap
0,2012-09-17 18:00:00,NaT,NaN,0,1.0,00:00:00
1,2012-09-17 18:02:10,00:02:10,142.000000,1,1.0,00:00:00
2,2012-09-17 18:30:00,00:27:50,139.236624,2,1.0,00:27:50
3,2012-09-17 18:32:23,00:02:23,139.000000,3,1.0,00:00:00
4,2012-09-17 19:00:00,00:27:37,139.000000,4,1.0,00:27:37
5,2012-09-17 19:02:35,00:02:35,139.000000,5,1.0,00:00:00
6,2012-09-17 19:30:00,00:27:25,139.906836,6,1.0,00:27:25
7,2012-09-17 19:32:49,00:02:49,140.000000,7,0.0,00:00:00
8,2012-09-17 19:37:14,00:04:25,139.000000,7,1.0,00:00:00
9,2012-09-17 20:00:00,00:22:46,139.753447,8,1.0,00:22:46
10,2012-09-17 20:07:27,00:07:27,140.000000,9,1.0,00:00:00
11,2012-09-17 20:30:00,00:22:33,136.268616,10,1.0,00:22:33
12,2012-09-17 20:37:40,00:07:40,135.000000,11,1.0,00:00:00
13,2012-09-17 21:00:00,00:22:20,132.043574,12,1.0,00:22:20
14,2012-09-17 21:07:53,00:07:53,131.000000,13,1.0,00:00:00
15,2012-09-17 21:30:00,00:22:07,133.197020,14,1.0,00:22:07
16,2012-09-17 21:38:05,00:08:05,134.000000,15,1.0,00:00:00
17,2012-09-17 22:00:00,00:21:55,134.000000,16,1.0,00:21:55
18,2012-09-17 22:08:21,00:08:21,134.000000,17,1.0,00:00:00
19,2012-09-17 22:30:00,00:21:39,131.947092,18,0.0,00:21:39
20,2012-09-17 22:38:35,00:08:35,131.133198,18,0.0,00:30:14
21,2012-09-17 23:00:00,00:21:25,129.102415,18,0.0,00:51:39
22,2012-09-17 23:08:47,00:08:47,128.269557,18,0.0,01:00:26
23,2012-09-17 23:30:00,00:21:13,126.257739,18,0.0,01:21:39
24,2012-09-17 23:38:59,00:08:59,125.405916,18,0.0,01:30:38
25,2012-09-18 00:00:00,00:21:01,123.413062,18,0.0,01:51:39
26,2012-09-18 00:09:21,00:09:21,NaN,18,0.0,02:01:00
27,2012-09-18 00:30:00,00:20:39,NaN,18,0.0,02:21:39
28,2012-09-18 00:39:39,00:09:39,NaN,18,0.0,02:31:18
29,2012-09-18 01:00:00,00:20:21,NaN,18,0.0,02:51:39
30,2012-09-18 01:09:51,00:09:51,NaN,18,0.0,03:01:30
31,2012-09-18 01:30:00,00:20:09,NaN,18,0.0,03:21:39
32,2012-09-18 01:40:04,00:10:04,NaN,18,0.0,03:31:43
33,2012-09-18 02:00:00,00:19:56,NaN,18,0.0,03:51:39
34,2012-09-18 02:10:17,00:10:17,NaN,18,0.0,04:01:56
35,2012-09-18 02:30:00,00:19:43,NaN,18,0.0,04:21:39
36,2012-09-18 02:40:30,00:10:30,NaN,18,0.0,04:32:09
37,2012-09-18 03:00:00,00:19:30,NaN,18,0.0,04:51:39
38,2012-09-18 03:12:05,00:12:05,NaN,18,0.0,05:03:44
39,2012-09-18 03:30:00,00:17:55,NaN,18,0.0,05:21:39
40,2012-09-18 03:42:23,00:12:23,NaN,18,0.0,05:34:02
41,2012-09-18 04:00:00,00:17:37,NaN,18,0.0,05:51:39
42,2012-09-18 04:12:39,00:12:39,NaN,18,0.0,06:04:18
43,2012-09-18 04:30:00,00:17:21,NaN,18,0.0,06:21:39
44,2012-09-18 04:42:51,00:12:51,NaN,18,0.0,06:34:30
45,2012-09-18 05:00:00,00:17:09,NaN,18,0.0,06:51:39
46,2012-09-18 05:13:04,00:13:04,NaN,18,0.0,07:04:43
47,2012-09-18 05:30:00,00:16:56,NaN,18,0.0,07:21:39
48,2012-09-18 05:43:16,00:13:16,NaN,18,0.0,07:34:55
49,2012-09-18 06:00:00,00:16:44,NaN,18,1.0,07:51:39
50,2012-09-18 06:13:28,00:13:28,88.000000,19,1.0,00:00:00
51,2012-09-18 06:30:00,00:16:32,90.737307,20,1.0,00:16:32
52,2012-09-18 06:43:40,00:13:40,93.000000,21,1.0,00:00:00
53,2012-09-18 07:00:00,00:16:20,95.162162,22,1.0,00:16:20
54,2012-09-18 07:13:53,00:13:53,97.000000,23,1.0,00:00:00
55,2012-09-18 07:30:00,00:16:07,98.325565,24,1.0,00:16:07
56,2012-09-18 07:38:12,00:08:12,99.000000,25,1.0,00:00:00
57,2012-09-18 08:00:00,00:21:48,104.050193,26,1.0,00:21:48
58,2012-09-18 08:08:25,00:08:25,106.000000,27,1.0,00:00:00
59,2012-09-18 08:30:00,00:21:35,112.432119,28,1.0,00:21:35
60,2012-09-18 08:38:37,00:08:37,115.000000,29,1.0,00:00:00
61,2012-09-18 09:00:00,00:21:23,119.248344,30,1.0,00:21:23
62,2012-09-18 09:08:49,00:08:49,121.000000,31,1.0,00:00:00
63,2012-09-18 09:30:00,00:21:11,128.014349,32,1.0,00:21:11
64,2012-09-18 09:39:01,00:09:01,131.000000,33,1.0,00:00:00
65,2012-09-18 10:00:00,00:20:59,135.863687,34,1.0,00:20:59
66,2012-09-18 10:09:13,00:09:13,138.000000,35,1.0,00:00:00
67,2012-09-18 10:30:00,00:20:47,142.124587,36,1.0,00:20:47
68,2012-09-18 10:39:27,00:09:27,144.000000,37,1.0,00:00:00
69,2012-09-18 11:00:00,00:20:33,145.416250,38,0.0,00:20:33
70,2012-09-18 11:09:39,00:09:39,146.081302,38,0.0,00:30:12
71,2012-09-18 11:30:00,00:20:21,147.483769,38,0.0,00:50:33
72,2012-09-18 11:41:14,00:11:14,148.257940,38,0.0,01:01:47
73,2012-09-18 12:00:00,00:18:46,149.551288,38,0.0,01:20:33
74,2012-09-18 12:11:31,00:11:31,150.344986,38,0.0,01:32:04
75,2012-09-18 12:30:00,00:18:29,151.618807,38,0.0,01:50:33
76,2012-09-18 12:41:44,00:11:44,NaN,38,0.0,02:02:17
77,2012-09-18 13:00:00,00:18:16,NaN,38,0.0,02:20:33
78,2012-09-18 13:11:56,00:11:56,NaN,38,0.0,02:32:29
79,2012-09-18 13:30:00,00:18:04,NaN,38,0.0,02:50:33
80,2012-09-18 13:42:08,00:12:08,NaN,38,0.0,03:02:41
81,2012-09-18 14:00:00,00:17:52,NaN,38,0.0,03:20:33
82,2012-09-18 14:12:21,00:12:21,NaN,38,0.0,03:32:54
83,2012-09-18 14:30:00,00:17:39,NaN,38,0.0,03:50:33
84,2012-09-18 14:42:33,00:12:33,NaN,38,0.0,04:03:06
85,2012-09-18 15:00:00,00:17:27,NaN,38,0.0,04:20:33
86,2012-09-18 15:12:46,00:12:46,NaN,38,0.0,04:33:19
87,2012-09-18 15:30:00,00:17:14,NaN,38,0.0,04:50:33
88,2012-09-18 15:42:59,00:12:59,NaN,38,0.0,05:03:32
89,2012-09-18 16:00:00,00:17:01,NaN,38,1.0,05:20:33
90,2012-09-18 16:13:11,00:13:11,167.000000,39,1.0,00:00:00
91,2012-09-18 16:30:00,00:16:49,166.443464,40,1.0,00:16:49
92,2012-09-18 16:43:24,00:13:24,166.000000,41,1.0,00:00:00
93,2012-09-18 17:00:00,00:16:36,163.801325,42,1.0,00:16:36
94,2012-09-18 17:13:36,00:13:36,162.000000,43,1.0,00:00:00
95,2012-09-18 17:30:00,00:16:24,158.741722,44,1.0,00:16:24
96,2012-09-18 17:43:48,00:13:48,156.000000,45,1.0,00:00:00
97,2012-09-18 18:00:00,00:16:12,150.635762,46,1.0,00:16:12
98,2012-09-18 18:14:00,00:14:00,146.000000,47,1.0,00:00:00
99,2012-09-18 18:30:00,00:16:00,138.057363,48,1.0,00:16:00
...,...,...,...,...,...,...
128025,2016-07-12 18:30:00,00:14:22,210.943925,119454,1.0,00:14:22
128026,2016-07-12 18:45:57,00:15:57,202.000000,119455,1.0,00:00:00
128027,2016-07-12 19:00:00,00:14:03,191.832237,119456,1.0,00:14:03
128028,2016-07-12 19:16:21,00:16:21,180.000000,119457,1.0,00:00:00
128029,2016-07-12 19:30:00,00:13:39,174.652884,119458,1.0,00:13:39
128030,2016-07-12 19:46:59,00:16:59,168.000000,119459,1.0,00:00:00
128031,2016-07-12 20:00:00,00:13:01,164.544248,119460,1.0,00:13:01
128032,2016-07-12 20:17:07,00:17:07,160.000000,119461,1.0,00:00:00
128033,2016-07-12 20:30:00,00:12:53,157.010497,119462,1.0,00:12:53
128034,2016-07-12 20:47:17,00:17:17,153.000000,119463,1.0,00:00:00
128035,2016-07-12 21:00:00,00:12:43,151.731856,119464,1.0,00:12:43
128036,2016-07-12 21:17:22,00:17:22,150.000000,119465,1.0,00:00:00
128037,2016-07-12 21:30:00,00:12:38,149.584202,119466,1.0,00:12:38
128038,2016-07-12 21:47:45,00:17:45,149.000000,119467,1.0,00:00:00
128039,2016-07-12 22:00:00,00:12:15,147.791118,119468,1.0,00:12:15
128040,2016-07-12 22:18:09,00:18:09,146.000000,119469,1.0,00:00:00
128041,2016-07-12 22:30:00,00:11:51,143.641791,119470,1.0,00:11:51
128042,2016-07-12 22:48:18,00:18:18,140.000000,119471,1.0,00:00:00
128043,2016-07-12 23:00:00,00:11:42,139.614074,119472,1.0,00:11:42
128044,2016-07-12 23:18:37,00:18:37,139.000000,119473,1.0,00:00:00
128045,2016-07-12 23:30:00,00:11:23,141.632709,119474,1.0,00:11:23
128046,2016-07-12 23:48:53,00:18:53,146.000000,119475,1.0,00:00:00
128047,2016-07-13 00:00:00,00:11:07,145.261760,119476,1.0,00:11:07
128048,2016-07-13 00:19:00,00:19:00,144.000000,119477,1.0,00:00:00
128049,2016-07-13 00:30:00,00:11:00,142.193760,119478,1.0,00:11:00
128050,2016-07-13 00:49:27,00:19:27,139.000000,119479,1.0,00:00:00
128051,2016-07-13 01:00:00,00:10:33,137.254275,119480,1.0,00:10:33
128052,2016-07-13 01:19:40,00:19:40,134.000000,119481,1.0,00:00:00
128053,2016-07-13 01:30:00,00:10:20,132.634361,119482,1.0,00:10:20
128054,2016-07-13 01:49:56,00:19:56,130.000000,119483,1.0,00:00:00
128055,2016-07-13 02:00:00,00:10:04,129.668496,119484,1.0,00:10:04
128056,2016-07-13 02:20:18,00:20:18,129.000000,119485,1.0,00:00:00
128057,2016-07-13 02:30:00,00:09:42,126.755372,119486,1.0,00:09:42
128058,2016-07-13 02:50:33,00:20:33,122.000000,119487,1.0,00:00:00
128059,2016-07-13 03:00:00,00:09:27,122.312741,119488,1.0,00:09:27
128060,2016-07-13 03:20:46,00:20:46,123.000000,119489,1.0,00:00:00
128061,2016-07-13 03:30:00,00:09:14,123.000000,119490,1.0,00:09:14
128062,2016-07-13 03:50:51,00:20:51,123.000000,119491,1.0,00:00:00
128063,2016-07-13 04:00:00,00:09:09,124.501641,119492,1.0,00:09:09
128064,2016-07-13 04:21:19,00:21:19,128.000000,119493,1.0,00:00:00
128065,2016-07-13 04:30:00,00:08:41,130.881637,119494,1.0,00:08:41
128066,2016-07-13 04:51:27,00:21:27,138.000000,119495,1.0,00:00:00
128067,2016-07-13 05:00:00,00:08:33,140.494075,119496,0.0,00:00:00
128068,2016-07-13 05:30:00,00:30:00,149.245214,119496,1.0,00:38:33
128069,2016-07-13 05:46:18,00:16:18,154.000000,119497,1.0,00:00:00
128070,2016-07-13 06:00:00,00:13:42,156.703947,119498,1.0,00:13:42
128071,2016-07-13 06:16:42,00:16:42,160.000000,119499,1.0,00:00:00
128072,2016-07-13 06:30:00,00:13:18,167.003840,119500,1.0,00:13:18
128073,2016-07-13 06:47:05,00:17:05,176.000000,119501,1.0,00:00:00
128074,2016-07-13 07:00:00,00:12:55,179.659722,119502,0.0,00:00:00
128075,2016-07-13 07:30:00,00:30:00,188.159722,119502,1.0,00:42:55
128076,2016-07-13 07:47:05,00:17:05,193.000000,119503,0.0,00:00:00
128077,2016-07-13 07:47:25,00:00:20,206.000000,119503,1.0,00:00:00
128078,2016-07-13 08:00:00,00:12:35,211.395822,119504,1.0,00:12:35
128079,2016-07-13 08:17:44,00:17:44,219.000000,119505,1.0,00:00:00
128080,2016-07-13 08:30:00,00:12:16,221.854294,119506,1.0,00:12:16
128081,2016-07-13 08:47:49,00:17:49,226.000000,119507,1.0,00:00:00
128082,2016-07-13 09:00:00,00:12:11,226.400768,119508,1.0,00:12:11
128083,2016-07-13 09:18:13,00:18:13,227.000000,119509,1.0,00:00:00
128084,2016-07-13 09:30:00,00:11:47,226.220077,119510,1.0,00:11:47
128085,2016-07-13 09:48:26,00:18:26,225.000000,119511,1.0,00:00:00
128086,2016-07-13 10:00:00,00:11:34,228.418719,119512,1.0,00:11:34
128087,2016-07-13 10:18:53,00:18:53,234.000000,119513,1.0,00:00:00
128088,2016-07-13 10:30:00,00:11:07,234.367291,119514,1.0,00:11:07
128089,2016-07-13 10:49:09,00:19:09,235.000000,119515,1.0,00:00:00
128090,2016-07-13 11:00:00,00:10:51,236.076626,119516,1.0,00:10:51
128091,2016-07-13 11:19:23,00:19:23,238.000000,119517,1.0,00:00:00
128092,2016-07-13 11:30:00,00:10:37,239.044262,119518,1.0,00:10:37
128093,2016-07-13 11:49:53,00:19:53,241.000000,119519,1.0,00:00:00
128094,2016-07-13 12:00:00,00:10:07,243.348811,119520,1.0,00:10:07
128095,2016-07-13 12:20:02,00:20:02,248.000000,119521,1.0,00:00:00
128096,2016-07-13 12:30:00,00:09:58,247.668882,119522,1.0,00:09:58
128097,2016-07-13 12:50:08,00:20:08,247.000000,119523,1.0,00:00:00
128098,2016-07-13 13:00:00,00:09:52,249.280682,119524,1.0,00:09:52
128099,2016-07-13 13:20:25,00:20:25,254.000000,119525,1.0,00:00:00
128100,2016-07-13 13:30:00,00:09:35,252.246060,119526,1.0,00:09:35
128101,2016-07-13 13:53:12,00:23:12,248.000000,119527,1.0,00:00:00
128102,2016-07-13 14:00:00,00:06:48,246.784267,119528,1.0,00:06:48
128103,2016-07-13 14:21:10,00:21:10,243.000000,119529,1.0,00:00:00
128104,2016-07-13 14:30:00,00:08:50,242.709270,119530,1.0,00:08:50
128105,2016-07-13 14:51:33,00:21:33,242.000000,119531,1.0,00:00:00
128106,2016-07-13 15:00:00,00:08:27,243.671429,119532,1.0,00:08:27
128107,2016-07-13 15:21:53,00:21:53,248.000000,119533,1.0,00:00:00
128108,2016-07-13 15:30:00,00:08:07,248.535165,119534,1.0,00:08:07
128109,2016-07-13 15:52:13,00:22:13,250.000000,119535,1.0,00:00:00
128110,2016-07-13 16:00:00,00:07:47,250.512061,119536,1.0,00:07:47
128111,2016-07-13 16:22:37,00:22:37,252.000000,119537,1.0,00:00:00
128112,2016-07-13 16:30:00,00:07:23,250.293341,119538,1.0,00:07:23
128113,2016-07-13 16:52:54,00:22:54,245.000000,119539,1.0,00:00:00
128114,2016-07-13 17:00:00,00:07:06,245.648205,119540,0.0,00:00:00
128115,2016-07-13 17:30:00,00:30:00,248.387097,119540,1.0,00:37:06
128116,2016-07-13 17:47:40,00:17:40,250.000000,119541,1.0,00:00:00
128117,2016-07-13 18:00:00,00:12:20,245.868230,119542,1.0,00:12:20
128118,2016-07-13 18:17:31,00:17:31,240.000000,119543,1.0,00:00:00
128119,2016-07-13 18:30:00,00:12:29,236.318405,119544,1.0,00:12:29
128120,2016-07-13 18:48:02,00:18:02,231.000000,119545,1.0,00:00:00
128121,2016-07-13 19:00:00,00:11:58,227.821251,119546,1.0,00:11:58
128122,2016-07-13 19:18:09,00:18:09,223.000000,119547,1.0,00:00:00
128123,2016-07-13 19:30:00,00:11:51,224.568671,119548,1.0,00:11:51
128124,2016-07-13 19:48:22,00:18:22,227.000000,119549,1.0,00:00:00

In [290]:
panda_array = np.array([1, 2, 3, np.nan, np.nan, np.nan, np.nan, 8, 9, np.nan, 
                        11, np.nan, 15, 16, 17])
panda = pd.DataFrame(panda_array, columns=['value'])
panda = panda.reset_index()
panda['diff'] = panda.value.notnull() != panda.value.shift(-1).notnull()
panda['diff'] = panda['diff'].apply(lambda x: float(x))
panda['group'] = (panda.value.notnull() != panda.value.shift().notnull()).cumsum()
panda['gap'] = panda['value'].isnull() * panda['index'][panda['diff']==1].diff()
panda['gap'][panda['gap'].isnull()] = 0
panda['gap'][panda['gap'] < 2] = 0
groups_to_consider = list(panda['group'][panda['gap'] > 0].values)
panda[panda['group'].isin(groups_to_consider)]

   index  value  diff  group  gap
3      3    NaN   0.0      2  0.0
4      4    NaN   0.0      2  0.0
5      5    NaN   0.0      2  0.0
6      6    NaN   1.0      2  4.0

In [79]:
def round_30min(time):
    return datetime.datetime(time.year, time.month, time.day, time.hour, time.minute - time.minute % 30, 0)

def interpolate(df):
    # copy the initial dataframe, so that no actions inside the function can affect it
    df_result = deepcopy(df)

    start = round_30min(df_result.date_time.min())
    end = round_30min(df_result.date_time.max())

    df_add = pd.DataFrame(pd.date_range(start=start, end=end, freq='30min'),
                          columns=pd.MultiIndex.from_tuples([('date_time', '')]))

    # !!if len(df_result.station_id.unique()) > 1 --- Raise Error ##
    df_add[('station_id', '')] = df_result.station_id.unique()[0]

    # adding a new column, so that we can define, which data is original and which is interpolated
    df_result[('interpol', '')] = False
    df_add[('interpol', '')] = True

    # Merging 2 tables
    df_result = pd.merge(df_result, df_add, how='outer',
                         on=['date_time', 'interpol', 'station_id'])

    df_result = df_result.set_index('date_time')
    df_result = df_result.sort_index()
    df_result.valid = True

    # Interpolating data in '30min - round' timestamp
    df_result.data = df_result.data.interpolate(method='time', limit_direction='both')
    df_result.id = df_result.id.interpolate(method='nearest', limit_direction='both')

    # Deleting original data, leaving only interpolated rows
    df_result = df_result[df_result.interpol]
    del df_result[('interpol',)]
    df_result = df_result.dropna()
    df_result = df_result.reset_index()
    return df_result

In [43]:
mask = df_result.interpol
df_result.interpolate(method='time', limit_direction='both')[mask]

                            data                                       \
                        dampness     pressure       t_air      t_road
date_time
2012-09-17 18:00:00   741.000000  7406.000000  142.000000  152.000000
2012-09-17 18:30:00   760.343629  7406.000000  139.236624  146.473249
2012-09-17 19:00:00   770.230132  7406.000000  139.000000  143.256623
2012-09-17 19:30:00   766.465821  7406.000000  139.906836  143.000000
2012-09-17 20:00:00   753.944843  7412.027579  139.753447  142.246553
2012-09-17 20:30:00   752.238831  7414.000000  136.268616  139.761169
2012-09-17 21:00:00   758.173745  7414.000000  132.043574  136.782681
2012-09-17 21:30:00   735.832781  7414.000000  133.197020  135.267660
2012-09-17 22:00:00   726.275881  7420.517070  134.000000  135.724119
2012-09-17 22:30:00   715.258545  7416.555127  135.432194  136.716097
2012-09-17 23:00:00   713.836645  7420.382450  135.290839  137.000000
2012-09-17 23:30:00   710.784768  7416.677152  134.297461  137.000000
2012-09-18 00:00:00   711.768386  7420.228869  133.307903  136.307903
2012-09-18 00:30:00   717.089109  7423.000000  130.273927  133.955446
2012-09-18 01:00:00   725.064570  7423.000000  123.609272  128.956954
2012-09-18 01:30:00   750.672918  7423.000000  115.665196  120.331495
2012-09-18 02:00:00   778.492002  7423.000000  109.701600  112.382239
2012-09-18 02:30:00   798.745174  7423.000000  105.389961  106.737452
2012-09-18 03:00:00   814.261214  7423.000000  102.765172  103.147757
2012-09-18 03:30:00   836.556656  7423.000000   99.043454   99.634763
2012-09-18 04:00:00   860.223018  7427.656388   95.253855   95.671806
2012-09-18 04:30:00   874.745033  7426.403974   92.850993   92.276490
2012-09-18 05:00:00   875.594595  7423.000000   92.567568   90.432432
2012-09-18 05:30:00   881.971302  7427.485651   90.196468   88.878587
2012-09-18 06:00:00   885.675497  7431.000000   88.000000   86.891832
2012-09-18 06:30:00   875.335541  7431.000000   90.737307   89.832230
2012-09-18 07:00:00   857.648649  7431.000000   95.162162  101.648649
2012-09-18 07:30:00   841.372173  7431.000000   98.325565  116.290610
2012-09-18 08:00:00   825.735245  7431.000000  104.050193  129.378930
2012-09-18 08:30:00   798.844923  7436.717439  112.432119  143.005519
...                          ...          ...         ...         ...
2016-07-13 05:00:00  1000.000000   744.000000  140.494075  181.144029
2016-07-13 05:30:00  1000.000000   744.000000  149.245214  199.193254
2016-07-13 06:00:00   995.493421   744.000000  156.703947  215.759868
2016-07-13 06:30:00   968.988481   744.000000  167.003840  237.569940
2016-07-13 07:00:00   917.243056   744.000000  179.659722  254.138889
2016-07-13 07:30:00   859.743056   744.000000  188.159722  252.138889
2016-07-13 08:00:00   726.117097   744.000000  211.395822  309.791644
2016-07-13 08:30:00   650.961219   744.000000  221.854294  333.562881
2016-07-13 09:00:00   619.946272   744.000000  226.400768  341.190789
2016-07-13 09:30:00   582.289575   744.000000  226.220077  323.081081
2016-07-13 10:00:00   578.363985   744.000000  228.418719  316.256158
2016-07-13 10:30:00   540.431718   744.000000  234.367291  345.487885
2016-07-13 11:00:00   510.024256   744.000000  236.076626  372.024256
2016-07-13 11:30:00   514.474863   744.000000  239.044262  388.309836
2016-07-13 12:00:00   506.000000   743.664456  243.348811  413.744057
2016-07-13 12:30:00   502.357697   743.000000  247.668882  427.066445
2016-07-13 13:00:00   489.135388   743.000000  249.280682  413.516236
2016-07-13 13:30:00   486.062023   743.000000  252.246060  413.845450
2016-07-13 14:00:00   519.427890   743.000000  246.784267  374.462455
2016-07-13 14:30:00   557.616566   743.000000  242.709270  349.546352
2016-07-13 15:00:00   564.278571   743.000000  243.671429  353.521429
2016-07-13 15:30:00   565.802747   743.000000  248.535165  375.675824
2016-07-13 16:00:00   560.063048   743.000000  250.512061  382.743969
2016-07-13 16:30:00   546.020914   743.000000  250.293341  372.979086
2016-07-13 17:00:00   577.759586   742.870359  245.648205  343.444309
2016-07-13 17:30:00   593.645161   742.322581  248.387097  336.870968
2016-07-13 18:00:00   626.964266   742.000000  245.868230  323.910106
2016-07-13 18:30:00   681.862370   742.000000  236.318405  303.636810
2016-07-13 19:00:00   719.549530   742.000000  227.821251  288.231876
2016-07-13 19:30:00   711.391616   742.000000  224.568671  275.901820

                                station_id interpol
                    t_underroad
date_time
2012-09-17 18:00:00  151.000000        114     True
2012-09-17 18:30:00  146.394374        114     True
2012-09-17 19:00:00  142.342163        114     True
2012-09-17 19:30:00  141.093164        114     True
2012-09-17 20:00:00  141.000000        114     True
2012-09-17 20:30:00  138.761169        114     True
2012-09-17 21:00:00  135.043574        114     True
2012-09-17 21:30:00  134.000000        114     True
2012-09-17 22:00:00  134.000000        114     True
2012-09-17 22:30:00  134.716097        114     True
2012-09-17 23:00:00  135.709161        114     True
2012-09-17 23:30:00  136.000000        114     True
2012-09-18 00:00:00  134.615807        114     True
2012-09-18 00:30:00  132.636964        114     True
2012-09-18 01:00:00  127.956954        114     True
2012-09-18 01:30:00  120.665196        114     True
2012-09-18 02:00:00  112.722559        114     True
2012-09-18 02:30:00  106.737452        114     True
2012-09-18 03:00:00  102.530343        114     True
2012-09-18 03:30:00   99.226073        114     True
2012-09-18 04:00:00   95.671806        114     True
2012-09-18 04:30:00   92.276490        114     True
2012-09-18 05:00:00   89.864865        114     True
2012-09-18 05:30:00   88.439294        114     True
2012-09-18 06:00:00   86.337748        114     True
2012-09-18 06:30:00   87.189845        114     True
2012-09-18 07:00:00   96.027027        114     True
2012-09-18 07:30:00  109.290610        114     True
2012-09-18 08:00:00  121.657474        114     True
2012-09-18 08:30:00  134.290839        114     True
...                         ...        ...      ...
2016-07-13 05:00:00  200.558797        114     True
2016-07-13 05:30:00  206.028259        114     True
2016-07-13 06:00:00  211.703947        114     True
2016-07-13 06:30:00  222.441580        114     True
2016-07-13 07:00:00  234.798611        114     True
2016-07-13 07:30:00  241.298611        114     True
2016-07-13 08:00:00  267.961517        114     True
2016-07-13 08:30:00  286.077562        114     True
2016-07-13 09:00:00  300.416118        114     True
2016-07-13 09:30:00  309.880309        114     True
2016-07-13 10:00:00  306.139573        114     True
2016-07-13 10:30:00  313.876652        114     True
2016-07-13 11:00:00  331.177508        114     True
2016-07-13 11:30:00  348.873224        114     True
2016-07-13 12:00:00  361.019900        114     True
2016-07-13 12:30:00  372.629014        114     True
2016-07-13 13:00:00  381.719318        114     True
2016-07-13 13:30:00  376.707677        114     True
2016-07-13 14:00:00  372.352801        114     True
2016-07-13 14:30:00  357.511245        114     True
2016-07-13 15:00:00  349.835714        114     True
2016-07-13 15:30:00  354.408242        114     True
2016-07-13 16:00:00  362.024123        114     True
2016-07-13 16:30:00  363.537149        114     True
2016-07-13 17:00:00  356.277541        114     True
2016-07-13 17:30:00  344.774194        114     True
2016-07-13 18:00:00  335.107761        114     True
2016-07-13 18:30:00  326.909339        114     True
2016-07-13 19:00:00  316.231876        114     True
2016-07-13 19:30:00  305.862659        114     True

[66964 rows x 7 columns]

In [142]:
pd.set_option("display.max_rows", 10000)
w = mm94[mm94.new==537]
#w[w.data.t_air.isnull()]
#del w['new']
r = interpolaterrr(w)
r[r.data.pressure.isnull()]

Empty DataFrame
Columns: [(date_time, ), (station_id, ), (data, dampness), (data, pressure), (data, t_air), (data, t_road), (data, t_underroad), (id, dampness), (id, pressure), (id, t_air), (id, t_road), (id, t_underroad), (valid, dampness), (valid, pressure), (valid, t_air), (valid, t_road), (valid, t_underroad), (new, ), (interpol, )]
Index: []

In [139]:
r['interpol']

0        True
1       False
2        True
3       False
4        True
5       False
6        True
7       False
8        True
9       False
10       True
11      False
12       True
13      False
14       True
15      False
16       True
17      False
18       True
19      False
20       True
21      False
22       True
23      False
24       True
25      False
26       True
27      False
28       True
29      False
30       True
31       True
32       True
33      False
34       True
35       True
36      False
37       True
38      False
39       True
40      False
41       True
42      False
43       True
44      False
45       True
46      False
47       True
48      False
49       True
50      False
51       True
52      False
53       True
54      False
55       True
56      False
57       True
58      False
59       True
60      False
61       True
62      False
63       True
64      False
65       True
66      False
67       True
68      False
69       True
70       True
71      False
72       True
73      False
74       True
75      False
76       True
77      False
78       True
79      False
80       True
81      False
82       True
83      False
84       True
85      False
86       True
87      False
88       True
89      False
90       True
91      False
92       True
93      False
94       True
95      False
96       True
97      False
98       True
99      False
100      True
101     False
102      True
103     False
104      True
105     False
106      True
107     False
108      True
109     False
110      True
111     False
112      True
113     False
114      True
115     False
116      True
117     False
118      True
119     False
120      True
121     False
122      True
123     False
124      True
125     False
126      True
127     False
128      True
129     False
130      True
131     False
132      True
133     False
134      True
135     False
136      True
137     False
138      True
139     False
140      True
141     False
142      True
143     False
144      True
145     False
146      True
147     False
148      True
149     False
150      True
151     False
152      True
153     False
154      True
155     False
156      True
157     False
158      True
159     False
160      True
161     False
162      True
163     False
164      True
165     False
166      True
167     False
168      True
169     False
170      True
171     False
172      True
173     False
174      True
175     False
176      True
177     False
178      True
179     False
180      True
181     False
182      True
183     False
184      True
185     False
186      True
187     False
188      True
189     False
190      True
191     False
192      True
193     False
194      True
195     False
196      True
197     False
198      True
199     False
200      True
201     False
202      True
203     False
204      True
205     False
206      True
207     False
208      True
209     False
210      True
211     False
212      True
213     False
214      True
215     False
216      True
217     False
218      True
219     False
220      True
221     False
222      True
223     False
224      True
225     False
226      True
227     False
228      True
229     False
230      True
231     False
232      True
233      True
234     False
235      True
236     False
237      True
238     False
239      True
240     False
241      True
242     False
243      True
244     False
245      True
246     False
247      True
248     False
249      True
250      True
251     False
252      True
253     False
254      True
255     False
256      True
257     False
258      True
259     False
260      True
261      True
262     False
263      True
264     False
265      True
266     False
267      True
268     False
269      True
270      True
271     False
272      True
273     False
274      True
275      True
276     False
277      True
278     False
279      True
280     False
281      True
282     False
283      True
284     False
285      True
286     False
287      True
288     False
289      True
290     False
291      True
292     False
293      True
294     False
295      True
296      True
297     False
298      True
299      True
300     False
301      True
302     False
303      True
304     False
305      True
306     False
307      True
308     False
309      True
310     False
311      True
312     False
313      True
314     False
315      True
316     False
317      True
318     False
319      True
320     False
321      True
322     False
323      True
324     False
325      True
326     False
327      True
328     False
329      True
330     False
331      True
332     False
333      True
334     False
335      True
336     False
337      True
338     False
339      True
340     False
341      True
342     False
343      True
344     False
345      True
346     False
347      True
348     False
349      True
350     False
351      True
352     False
353      True
354     False
355      True
356     False
357      True
358     False
359      True
360     False
361      True
362     False
363      True
364     False
365      True
366     False
367      True
368     False
369      True
370     False
371      True
372      True
373     False
374      True
375     False
376      True
377     False
378      True
379     False
380      True
381     False
382      True
383     False
384      True
385     False
386      True
387     False
388      True
389     False
390      True
391     False
392      True
393     False
394      True
395     False
396      True
397     False
398      True
399     False
400      True
401     False
402      True
403     False
404      True
405     False
406      True
407     False
408      True
409     False
410      True
411     False
412      True
413     False
414      True
415     False
416      True
417     False
418      True
419      True
420     False
421      True
422     False
423      True
424     False
425      True
426     False
427      True
428     False
429      True
430     False
431      True
432     False
433      True
434     False
435      True
436     False
437      True
438      True
439     False
440      True
441     False
442      True
443     False
444      True
445     False
446      True
447     False
448      True
449      True
450     False
451      True
452     False
453      True
454     False
455      True
456     False
457      True
458     False
459      True
460     False
461      True
462     False
463      True
464     False
465      True
466     False
467      True
468     False
469      True
470     False
471      True
472     False
473      True
474     False
475      True
476     False
477      True
478      True
479     False
480      True
481     False
482      True
483     False
484      True
485     False
486      True
487     False
488      True
489     False
490      True
491     False
492      True
493     False
494      True
495     False
496      True
497      True
498     False
499      True
500     False
501      True
502     False
503      True
504     False
505      True
506     False
507      True
508     False
509      True
510     False
511      True
512     False
513      True
514     False
515      True
516     False
517      True
518     False
519      True
520      True
521     False
522      True
523     False
524      True
525     False
526      True
527     False
528      True
529     False
530      True
531      True
532     False
533      True
534     False
535      True
536     False
537      True
538     False
539      True
540     False
541      True
542     False
543      True
544     False
545      True
546     False
547      True
548     False
549      True
550     False
551      True
552     False
553      True
554     False
555      True
556     False
557      True
558     False
559      True
560     False
561      True
562      True
563     False
564      True
565     False
566      True
567     False
568      True
569     False
570      True
571     False
572      True
573     False
574      True
575     False
576      True
577     False
578      True
579     False
580      True
581     False
582      True
583     False
584      True
585     False
586      True
587     False
588      True
589     False
590      True
591     False
592      True
593     False
594      True
595     False
596      True
597     False
598      True
599     False
600      True
601     False
602      True
603      True
604     False
605      True
606     False
607      True
608     False
609      True
610     False
611      True
612     False
613      True
614     False
615      True
616     False
617      True
618     False
619      True
620     False
621      True
622     False
623      True
624     False
625      True
626     False
627      True
628     False
629      True
630     False
631      True
632     False
633      True
634     False
635      True
636     False
637      True
638     False
639      True
640     False
641      True
642     False
643      True
644     False
645      True
646     False
647      True
648     False
649      True
650     False
651      True
652     False
653      True
654     False
655      True
656     False
657      True
658     False
659      True
660     False
661      True
662     False
663      True
664     False
665      True
666     False
667      True
668     False
669      True
670     False
671      True
672     False
673      True
674     False
675      True
676     False
677      True
678     False
679      True
680     False
681      True
682     False
683      True
684      True
685     False
686      True
687     False
688      True
689     False
690      True
691     False
692      True
693     False
694      True
695     False
696      True
697     False
698      True
699     False
700      True
701     False
702      True
703     False
704      True
705     False
706      True
707     False
708      True
709     False
710      True
711     False
712      True
713     False
714      True
715      True
716     False
717      True
718     False
719      True
720     False
721      True
722     False
723      True
724     False
725      True
726     False
727      True
728     False
729      True
730      True
731      True
732     False
733      True
734     False
735      True
736      True
737     False
738      True
739     False
740      True
741     False
742      True
743     False
744      True
745     False
746      True
747     False
748      True
749     False
750      True
751     False
752      True
753     False
754      True
755     False
756      True
757     False
758      True
759     False
760      True
761     False
762      True
763     False
764      True
765     False
766      True
767     False
768      True
769     False
770      True
771     False
772      True
773      True
774     False
775      True
776     False
777      True
778     False
779      True
780      True
781     False
782      True
783     False
784      True
785     False
786      True
787     False
788      True
789     False
790      True
791     False
792      True
793     False
794      True
795     False
796      True
797      True
798     False
799      True
800      True
801     False
802      True
803     False
804      True
805     False
806      True
807     False
808      True
809     False
810      True
811     False
812      True
813     False
814      True
815     False
816      True
817     False
818      True
819     False
820      True
821     False
822      True
823     False
824      True
825     False
826      True
827     False
828      True
829     False
830      True
831     False
832      True
833     False
834      True
835     False
836      True
837     False
838      True
839     False
840      True
841     False
842      True
843     False
844      True
845     False
846      True
847     False
848      True
849     False
850      True
851     False
852      True
853     False
854      True
855     False
856      True
857      True
858     False
859      True
860     False
861      True
862     False
863      True
864     False
865      True
866     False
867      True
868     False
869      True
870     False
871      True
872     False
873      True
874     False
875      True
876     False
877      True
878     False
879      True
880     False
881      True
882      True
883     False
884      True
885     False
886      True
887      True
888     False
889      True
890     False
891      True
892     False
893      True
894     False
895      True
896     False
897      True
898     False
899      True
900     False
901      True
902     False
903      True
904     False
905      True
906     False
907      True
908     False
909      True
910     False
911      True
912     False
913      True
914     False
915      True
916     False
917      True
918      True
919     False
920      True
921     False
922      True
923     False
924      True
925     False
926      True
927     False
928      True
929     False
930      True
931     False
932      True
933      True
934     False
935      True
936     False
937      True
938     False
939      True
940     False
941      True
942     False
943      True
944     False
945      True
946     False
947      True
948     False
949      True
950     False
951      True
952     False
953      True
954     False
955      True
956     False
957      True
958     False
959      True
960      True
961     False
962      True
963     False
964      True
965     False
966      True
967     False
968      True
969     False
970      True
971      True
972     False
973      True
974     False
975      True
976     False
977      True
978     False
979      True
980     False
981      True
982     False
983      True
984     False
985      True
986     False
987      True
988     False
989      True
990     False
991      True
992     False
993      True
994     False
995      True
996     False
997      True
998     False
999      True
1000    False
1001     True
1002    False
1003     True
1004    False
1005     True
1006    False
1007     True
1008    False
1009     True
1010    False
1011     True
1012    False
1013     True
1014    False
1015     True
1016    False
1017    False
1018     True
1019    False
1020     True
1021    False
1022    False
1023    False
1024     True
1025     True
1026    False
1027     True
1028    False
1029     True
1030    False
1031     True
1032    False
1033     True
1034    False
1035     True
1036    False
1037     True
1038     True
1039    False
1040     True
1041    False
1042     True
1043    False
1044     True
1045    False
1046     True
1047    False
1048     True
1049    False
1050     True
1051    False
1052    False
1053     True
1054    False
1055    False
1056     True
1057    False
1058    False
1059     True
1060    False
1061    False
1062     True
1063    False
1064    False
1065     True
1066    False
1067     True
1068    False
1069     True
1070    False
1071     True
1072    False
1073     True
1074    False
1075    False
1076     True
1077    False
1078     True
1079    False
1080     True
1081    False
1082     True
1083    False
1084     True
1085    False
1086     True
1087    False
1088     True
1089    False
1090     True
1091     True
1092    False
1093     True
1094    False
1095     True
1096    False
1097     True
1098    False
1099     True
1100    False
1101     True
1102    False
1103     True
1104     True
1105    False
1106     True
1107    False
1108     True
1109    False
1110     True
1111    False
1112     True
1113    False
1114     True
1115    False
1116     True
1117    False
1118     True
1119    False
1120     True
1121    False
1122    False
1123     True
1124    False
1125     True
1126    False
1127     True
1128     True
1129    False
1130     True
1131    False
1132     True
1133    False
1134     True
1135    False
1136     True
1137    False
1138     True
1139    False
1140     True
1141    False
1142     True
1143    False
1144     True
1145    False
1146     True
1147    False
1148     True
1149    False
1150     True
1151    False
1152     True
1153    False
1154     True
1155    False
1156     True
1157    False
1158     True
1159    False
1160     True
1161    False
1162     True
1163    False
1164     True
1165    False
1166     True
1167    False
1168     True
1169    False
1170     True
1171    False
1172     True
1173    False
1174     True
1175    False
1176     True
1177    False
1178     True
1179    False
1180     True
1181    False
1182     True
1183    False
1184     True
1185    False
1186     True
1187    False
1188     True
1189    False
1190     True
1191    False
1192     True
1193    False
1194     True
1195    False
1196     True
1197    False
1198     True
1199    False
1200     True
1201    False
1202     True
1203    False
1204     True
1205    False
1206     True
1207     True
1208    False
1209     True
1210    False
1211     True
1212     True
1213    False
1214     True
1215    False
1216     True
1217    False
1218     True
1219    False
1220     True
1221    False
1222     True
1223    False
1224     True
1225    False
1226     True
1227    False
1228     True
1229    False
1230     True
1231    False
1232     True
1233    False
1234     True
1235    False
1236     True
1237    False
1238     True
1239    False
1240     True
1241    False
1242     True
1243    False
1244     True
1245    False
1246     True
1247    False
1248     True
1249    False
1250     True
1251    False
1252     True
1253    False
1254     True
1255    False
1256     True
1257    False
1258     True
1259    False
1260     True
1261    False
1262     True
1263    False
1264     True
1265    False
1266     True
1267    False
1268     True
1269    False
1270     True
1271    False
1272     True
1273    False
1274     True
1275    False
1276     True
1277    False
1278     True
1279    False
1280     True
1281    False
1282     True
1283    False
1284     True
1285    False
1286     True
1287    False
1288     True
1289    False
1290     True
1291    False
1292     True
1293    False
1294     True
1295     True
1296    False
1297     True
1298    False
1299     True
1300    False
1301     True
1302    False
1303     True
1304    False
1305     True
1306    False
1307     True
1308    False
1309     True
1310    False
1311     True
1312    False
1313     True
1314    False
1315     True
1316    False
1317     True
1318    False
1319     True
1320    False
1321     True
1322    False
1323     True
1324    False
1325     True
1326     True
1327    False
1328     True
1329    False
1330     True
1331    False
1332     True
1333    False
1334     True
1335    False
1336     True
1337    False
1338     True
1339    False
1340     True
1341    False
1342     True
1343    False
1344     True
1345     True
1346    False
1347     True
1348     True
1349    False
1350     True
1351     True
1352    False
1353     True
1354    False
1355     True
1356    False
1357     True
1358     True
1359    False
1360     True
1361    False
1362     True
1363    False
1364     True
1365    False
1366     True
1367    False
1368     True
1369    False
1370     True
1371    False
1372     True
1373    False
1374     True
1375    False
1376     True
1377    False
1378     True
1379    False
1380     True
1381    False
1382     True
1383    False
1384     True
1385     True
1386    False
1387     True
1388    False
1389     True
1390    False
1391     True
1392    False
1393     True
1394    False
1395     True
1396    False
1397     True
1398    False
1399     True
1400    False
1401     True
1402     True
1403    False
1404     True
1405    False
1406     True
1407     True
1408    False
1409     True
1410    False
1411     True
1412    False
1413     True
1414    False
1415     True
1416    False
1417     True
1418    False
1419     True
1420    False
1421     True
1422    False
1423     True
1424    False
1425     True
1426    False
1427     True